/**
 * Blocks added with blockreference module on landing pages
 * Note: blockreference blocks ignore block class settings
 * only pulls in block title and block content
 */
.node-type-landing-page {
	.field--type-blockreference {
		.block {
			overflow: hidden;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			-o-border-radius: 8px;
			-ms-border-radius: 8px;
			border-radius: 8px;
			background: #f5f8f1;
			h2.block__title {
				color: #4B7A0A;
				margin: 0 0 0.5em 0;
				font-size: 1.6em;
				font-weight: normal;
				padding: .46875em 11px .140625em 11px;
			}
			.block__content {
				padding: .5em 11px .3em 11px;
				overflow: hidden;
			}
		}
	}
}

/* mobile view */
@include breakpoint($mobile) {
	.node-type-landing-page {
		.field--type-blockreference {
			.block {
				/* increase the block title size */
				h2.block__title {
					font-size: 1.8em;
				}
			}
		}
	}
}


/* print styling overrides */
@media print {
	.node-type-landing-page {
		.field--type-blockreference {
			display: none;
			.block {
				border: 1px solid #000;
				h2.block__title {
					color: #000;
				}
			}
		}
	}
}