/**
 * Blocks added with blockreference module on landing pages
 * Note: blockreference blocks ignore block class settings
 * only pulls in block title and block content
 */
.node-type-landing-page {
	.field--type-blockreference {
		.block {
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			-o-border-radius: 8px;
			-ms-border-radius: 8px;
			border-radius: 8px;
			background: #f5f8f1;
			h2.block__title {
				color: #4b800d;
				margin: 0;
				font-size: 1.6em;
				font-weight: normal;
				padding: .46875em 11px .140625em 11px;
			}
			.block__content {
				padding: .5em 11px .3em 11px;
			}
		}
	}
}