/* fields that need site-wide styling */


/* research programme fields */
.field--name-field-contact-name,
.field--name-field-phone-number,
.field--name-field-email {
	font-size: 1.2em;
	line-height: 1.4em;
	margin-bottom: 0.3em;
}