/* override default styling that comes with field collections module */
.field-collection-view {
	padding: 0;
	margin: 0;
	border: 0;
}
.field-collection-container {
	border-bottom: none;
	margin-bottom: 0px;
}
