/* files */
.file-item {
	font-weight: normal;
	margin-bottom: 0.5em;
	font-size: 1.3em;
	a {
		text-decoration: none;
		color: #006f51;
	}
	a:hover {
		text-decoration: underline;
	}
	.filesize {
		font-size: 0.846em;	// 1.3em x .846 = 1.1em
	}
	.file-summary {
		p {
			margin-bottom: 0; // let parent take care of margin
			font-size: 1em;	// same size as parent
		}
	}
}
