/* inline form labels */
label.element-invisible.compact-form-label {
	/* override defaults */
	position: absolute !important;
	clip: auto;
	overflow: visible;
	height: auto;
	font-weight: normal;
}
.compact-form-label {
	font-size: 1em;
	line-height: 1.4em
	top: 1px;
	left: 6px;
	letter-spacing: 0.5px;
	font-weight: normal;
	color: #333;
}
.global-search .compact-form-label {
	font-size: 1.2em;
	line-height: 1.4em;
	top: 1px;
	left: 8px;
	color: #333;
}