/* inline form labels */
label.element-invisible.compact-form-label {
	/* override defaults */
	position: absolute !important;
	clip: auto;
	overflow: visible;
	height: auto;
	font-weight: normal;
}
.compact-form-label {
	font-size: 1em;
	line-height: 1.4em;
	top: 1px;
	left: 6px;
	letter-spacing: 0.5px;
	font-weight: normal;
	color: #333;
}
.global-search .compact-form-label {
	font-size: 1.2em;
	line-height: 1.4em;
	top: -1px;
	left: 8px;
	color: #333;
}
/* override search facet default labels to apply compact label */
.search-facet label.compact-form-label, 
.search-facet .views-exposed-form label.compact-form-label, 
.search-facet .form-item label.compact-form-label, 
.search-facet .form-actions label.compact-form-label {
	padding-bottom: 0;
	display: block;
	padding-left: 0;
	color: #333;
	font-weight: normal;
	font-size: 1.1em;
	line-height: 1.4em;
	top: 2px;
	left: 6px;
	font-family: Arial,Verdana,Helvetica,san-serif;
}


/* print styling overrides */
@media print {
	.compact-form-label,
	.global-search .compact-form-label,
	.search-facet label.compact-form-label, 
	.search-facet .views-exposed-form label.compact-form-label, 
	.search-facet .form-item label.compact-form-label, 
	.search-facet .form-actions label.compact-form-label {
		color: #000;
	}
}