/* default links for site */
a {
	color: #006f51;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* external links icon - requires external links module */
span.ext {
	background: url('../images/icons/external-link-icon.gif') right center no-repeat;
	width: 10px;
	height: 10px;
	margin-left: 3px;
	margin-right: 3px;
	display: inline-block;
	*display: inline;	// IE7
	zoom: 1;	// IE7
}

/* apply this class to the block, not to the link itself */
.green-sidebar-links1 {
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	.li {
		font-size: 1em;	// set base to 10px
		font-weight: normal;
		display: block;
		padding-left: 14px;
		background-image: url('../images/green-arrow-thin-right.png');
		background-repeat: no-repeat;
		background-position: left 3px;
		a {
			text-decoration: none;
			font-size: 1.2em; 
			line-height: 1.4em;
			display: block;
			color: #006f51;
			margin-bottom: 0.35em;
		}
		a:hover {
			text-decoration: underline;
		}
	}
}
/* apply this class to the block, not to the link itself */
.green-sidebar-links2 {
	ul {
		margin: 0;
		padding: 0;
	}
	.li {
		font-size: 1em;	// set base to 10px
		font-weight: normal;
		display: block;
		padding-left: 14px;
		background-image: url('../images/green-arrow-thin-right.png');
		background-repeat: no-repeat;
		background-position: left 3px;
		a {
			text-decoration: none;
			font-size: 1.2em; 
			line-height: 1.4em;
			display: block;
			color: #006f51;
			margin-bottom: 0.5em;
		}
		a:hover {
			text-decoration: underline;
		}
	}
	.field--name-field-subtitle {
		font-size: 1.2em; 
		line-height: 1.4em;
		margin-bottom: 0.5em;
	}
}


/* more link */
a.fsa-more-link {
	font-weight: normal;
	display: block;
	padding-left: 14px;
	background-image: url('../images/green-arrow-thin-right.png');
	background-repeat: no-repeat;
	background-position: left 3px;
	text-decoration: none;
	color: #006f51;
}
a.fsa-more-link:hover {
	text-decoration: underline;
}

/* alternative more link */
a.fsa-more-link-orange-arrow {
	font-weight: normal;
	display: block;
	padding-left: 14px;
	background-image: url('../images/orange-arrow-thin-right.png');
	background-repeat: no-repeat;
	background-position: left 3px;
	text-decoration: none;
	color: #006f51;
}
a.fsa-more-link-orange-arrow:hover {
	text-decoration: underline;
}

/* more link with orange icon */
a.more-link-orange-icon-right {
	font-weight: normal;
	padding-right: 15px;
	background: url('../images/icons/more.png') no-repeat right 1px;
	text-decoration: none;
	color: #3d3d3d;
	white-space: normal;
	word-wrap: break-word;
	cursor: pointer;
	line-height: 1em;
	font-weight: bold;
}
a.more-link-orange-icon-right:hover {
	text-decoration: underline;
}

/* more button 
 * requires this html structure:  
 * <p class="more-button-wrapper"><a href="/science/" title="More about: Science and research" class="more-button"><span class="link-text">More</span></a></p>
*/
p.more-button-wrapper {
	clear: both;
	float: right;
	margin: 0 0 6px 0;
}
p .more-button {
	font-size: 1em;
}
.more-button {
	overflow: hidden;
	border: 1px solid #fff;
	line-height: 1em;
	font-size: 1.2em;
	font-weight: bold;
	white-space: normal;
	word-wrap: break-word;
	display: block;
	float: left;
	cursor: pointer;
	text-decoration: none;
	color: #3d3d3d;
	text-align: left;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	background: #fff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0NiUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiNjZGNkY2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,#fff 46%,#cdcdcd 99%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(46%,#fff),color-stop(99%,#cdcdcd));
	background: -webkit-linear-gradient(top,#fff 46%,#cdcdcd 99%);
	background: -o-linear-gradient(top,#fff 46%,#cdcdcd 99%);
	background: -ms-linear-gradient(top,#fff 46%,#cdcdcd 99%);
	background: linear-gradient(top,#fff 46%,#cdcdcd 99%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#cdcdcd',GradientType=0);
	padding: 6px;
}
.more-button:hover {
	text-decoration: underline;
}
.more-button .link-text {
	padding-right: 15px;
	background: url('../images/icons/more.png') no-repeat right 1px;
	display: block;
	text-align: left;
}

/* print styling overrides */
@media print {
	a,
	a.fsa-more-link,
	a.fsa-more-link-orange-arrow,
	a.more-link-orange-icon-right,
	.more-button {
		color: #000;
	}
	.green-sidebar-links1,
	.green-sidebar-links2 {
		li a {
			color: #000;
		}
	}
}