/* default links for site */
a {
	color: #006f51;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/* external links icon - requires external links module */
span.ext {
	background: url('../images/icons/external-link-icon.gif') right center no-repeat;
	width: 10px;
	height: 10px;
	margin-left: 3px;
	margin-right: 3px;
	display: inline-block;
	*display: inline;	// IE7
	zoom: 1;	// IE7
}

/* apply this class to the block, not to the link itself */
.green-sidebar-links1 {
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
	}
	.li {
		font-size: 1em;	// set base to 10px
		font-weight: normal;
		display: block;
		padding-left: 14px;
		background-image: url('../images/green-arrow-thin-right.png');
		background-repeat: no-repeat;
		background-position: left 3px;
		a {
			text-decoration: none;
			font-size: 1.2em; 
			line-height: 1.4em;
			display: block;
			color: #006f51;
			margin-bottom: 0.35em;
		}
		a:hover {
			text-decoration: underline;
		}
	}
}
/* apply this class to the block, not to the link itself */
.green-sidebar-links2 {
	ul {
		margin: 0;
		padding: 0;
	}
	.li {
		font-size: 1em;	// set base to 10px
		font-weight: normal;
		display: block;
		padding-left: 14px;
		background-image: url('../images/green-arrow-thin-right.png');
		background-repeat: no-repeat;
		background-position: left 3px;
		a {
			text-decoration: none;
			font-size: 1.2em; 
			line-height: 1.4em;
			display: block;
			color: #006f51;
			margin-bottom: 0.5em;
		}
		a:hover {
			text-decoration: underline;
		}
	}
	.field--name-field-subtitle {
		font-size: 1.2em; 
		line-height: 1.4em;
		margin-bottom: 0.5em;
	}
}


/* apply this class to the a-tag */
a.fsa-more-link {
	font-weight: normal;
	display: block;
	padding-left: 14px;
	background-image: url('../images/green-arrow-thin-right.png');
	background-repeat: no-repeat;
	background-position: left 3px;
	text-decoration: none;
	color: #006f51;
}
a.fsa-more-link:hover {
	text-decoration: underline;
}
