img, media {
  max-width: 100%;
}

/* files - depends on hook_file_link in template.php and custom formatter "file type size and link" on file in content type display settings */
.file-item {
	span.filesize {
		margin-left: 6px;
	}
	.file-icon {
		margin-left: 6px;
	}
	a, 
	.filesize {
		position: relative;
		margin-top: -3px;
	}
}

/* files - generic file style - when custom formatter not applied */
.field--type-file .field__item {
	.file-icon {
		margin-left: 6px;
	}
	a {
		position: relative;
		margin-top: -3px;
	}
}
