/* generic classes that are not captured elsewhere */

/* example usage: to hide RDF content */
.hidden {
	display: none;
}

/* site logo */
a.site-logo:focus img {
	border: 1px solid #fff;
}

/* apply page section title if a parent group has class: page-section  - used mainly in display settings formatting */
.page-section h2 {
	display: block;
	margin: 0 0 1em 0;
	padding: .3em 11px;
	font-size: 1.4em;
	font-weight: bold;
	color: #fff;
	background: #5d9711;
	clear: both;
}

/* print styling overrides */
@media print {
	.page-section h2 {
		color: #000;
		background: none;
		background-color: transparent;
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
	}
}