/**
 * requires classes to be added to fields (example: page-section-heading)- done in field preprocess
 */

/* example usage: section headings on page section field collection */
.page-section-heading {
	display: block;
	margin: 0 0 1em 0;
	padding: .3em 11px;
	font-size: 1.4em;
	font-weight: bold;
	color: #fff;
	background: #5d9711;
	clear: both;
	h1, h2, h3, h4, h5, h6 {
		font-size: 1em;	// ie use the same font size assigned to section heding field
		margin-bottom: 0;
	}
}

/* example usage: related items and child page headings on page section field collection */
.page-section-subheading {
	display: block;
	font-size: 1.4em;
	color: #5d9711;
	font-weight: bold;
	margin-bottom: 0.5em;
	h1, h2, h3, h4, h5, h6 {
		font-size: 1em;	// force the size to the one specified for this field above
		margin-bottom: 0;
	}
}
/* for files we need a bit more maring on subheading */
.field--name-field-fc-related-items-heading.page-section-subheading {
	margin-bottom: 0.8em;
}

/* example usage: related items and child page teaser listings on page section field collection */
.page-section-teaser {
	font-size: 1em;	// sets base font size to 10px
	line-height: 1.4em;
	margin-bottom: 18px;
	/* node title */
	h2.node__title,
	h3.node__title {
		font-size: 1.3em; 
		line-height: 1.4em;
		margin-bottom: 0;
		font-weight: normal;
	}
	.node__title {
		font-weight: normal;
		display: block;
		a {
			text-decoration: none;
			color: #006f51;
		}
		a:hover {
			text-decoration: underline;
		}
	}
	/* subtitle */
	.field--name-field-subtitle {
		font-size: 1.2em; 
		line-height: 1.4em;
		display: block;
	}
	/* teaser updated date */
	.field--name-field-updated {
		font-size: 1.1em;
		margin-bottom: 0.2em;
	}
	/* teaser summary */
	.field--name-field-summary {
		font-size: 1.2em; 
		line-height: 1.4em;
		display: block;
		color: #333;
		margin-bottom: 0.2em;
	}
	.field__item {
		margin-bottom: 0.5em;
	}
	/* node links like read more (if enabled) */
	.node__links {
	  a {
			text-decoration: none;
			color: #006f51;
		}
		a:hover {
			text-decoration: underline;
		}
	}
	/* related media files and csv files */
	.file-item {
		font-weight: normal;
		margin-bottom: 0.5em;
		font-size: 1.3em;
		a {
			text-decoration: none;
			color: #006f51;
		}
		a:hover {
			text-decoration: underline;
		}
	}
	.file-summary {
		font-size: 0.923em;	// 1.3em parent x 0.923 = 1.2em
		p {
			margin-bottom: 0; // let parent take care of margin
			font-size: 1em;	// same size as parent
		}
	}
}

/* child pages mirco teaser - more in this ection micro teaser variation of default teaser. Note: teaser is toggeled in page section edit mode */
.field--name-field-child-page.page-section-teaser {
	.node--micro-teaser {
		h2.node__title,
		h3.node__title {
			font-size: 1em;	// set to same as body ie 10px
		}
		.node__title {
			a {
				font-size: 1.2em;
				text-decoration: none;
				color: #333;
				display: block;
				padding: 5px 120px 5px 24px;
				margin-bottom: 1px;
				background-color: #eee;
				background-image: url('../images/green-arrow-thin-right.png');
				background-repeat: no-repeat;
				background-position: 10px 8px;
			}
			a:hover {
				text-decoration: underline;
			}
		}
	}
}
.field--name-field-child-page.page-section-teaser .field__item {
	margin-bottom: 0px;
}

/* related data wrapper - csv files */
.csv-files-wrapper {
		margin-bottom: 18px;
		border: 1px solid #c4c4c4;
		-webkit-border-radius: 10px;
		-moz-border-radius: 10px;
		-o-border-radius: 10px;
		-ms-border-radius: 10px;
		border-radius: 10px;
		padding: 12px 10px 0px 10px;
		background: #fff;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ2JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,#fff 0,#fff 46%,#eaeaea 100%);
		background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(46%,#fff),color-stop(100%,#eaeaea));
		background: -webkit-linear-gradient(top,#fff 0,#fff 46%,#eaeaea 100%);
		background: -o-linear-gradient(top,#fff 0,#fff 46%,#eaeaea 100%);
		background: -ms-linear-gradient(top,#fff 0,#fff 46%,#eaeaea 100%);
		background: linear-gradient(top,#fff 0,#fff 46%,#eaeaea 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#eaeaea',GradientType=0);
		/* extra margin for related data heading */
		.page-section-subheading {
			margin-bottom: 0.8em;
		}
}
