/**
 * Fixes for IE7 browser
 */
/* country select popup hides behind branding region */
/* line 10, ../sass/ie7.scss */
#zone-header-wrapper {
  position: relative;
  z-index: 4;
}

/* line 14, ../sass/ie7.scss */
#zone-branding-wrapper {
  position: relative;
  z-index: 3;
}

/* icons in popup of country select list don't line up with top level flag */
/* line 20, ../sass/ie7.scss */
.country-menu .om-maximenu-middle-right ul.menu li {
  position: relative;
  left: -20px;
}

/* global search - text box is too tall and too wide */
/* line 27, ../sass/ie7.scss */
.global-search {
  top: -12px;
  margin-bottom: -12px;
}
/* line 30, ../sass/ie7.scss */
.global-search input[type="text"] {
  height: 14px;
  width: 130px;
}

/* mega menu popup appears below content that proceeds it */
/* line 37, ../sass/ie7.scss */
#zone-menu-wrapper {
  position: relative;
  z-index: 2;
}

/* line 43, ../sass/ie7.scss */
#zone-user-wrapper,
#zone-content-wrapper,
#zone-footer-wrapper {
  position: relative;
  z-index: 1;
}

/* mega menu - menus in the popup are not positioned correctly - they all appear one below the other in a long menu */
/* line 49, ../sass/ie7.scss */
.main-mega-menu {
  /* make absolute positioning posible */
  /* adjust height for support popup box */
  /* override existing styling  */
  /* override existing styling - defualt second level menu bocks */
  /* ========= menu tab popup: our payment solutions ============ */
  /* row 1 column 1 */
  /* row 1 column 2 */
  /* row 1 column 3 */
  /* row 2 column 1 */
  /* row 2 column 2 */
  /* row 2 column 3 */
  /* ========== menu tab popup: partners and developers ========= */
  /* row 1 column 1 */
  /* row 1 column 2 */
  /* row 1 column 3 */
  /* =========== menu tab popup: support ======================== */
  /* row 1 column 1 */
  /* row 1 column 2 */
  /* row 1 column 3 */
  /* row 2 column 1 */
  /* row 2 column 2 */
  /* =========== menu tab popup: about us ======================= */
  /* row 1 column 1 */
  /* row 1 column 2 */
  /* row 1 column 3 */
  /* row 2 column 1 */
}
/* line 51, ../sass/ie7.scss */
.main-mega-menu .om-maximenu-no-style .om-maximenu-middle-right {
  width: 840px;
  height: 338px;
  padding: 10px;
  position: relative;
}
/* line 58, ../sass/ie7.scss */
.main-mega-menu .om-maximenu-no-style .leaf-support .om-maximenu-middle-right {
  height: 368px;
}
/* line 65, ../sass/ie7.scss */
.main-mega-menu .om-maximenu-no-style .om-maximenu-content .block-menu.block-menu-id-menu-mail-telephone-payments,
.main-mega-menu .om-maximenu-no-style .om-maximenu-content .block-menu.block-menu-id-menu-existing-partners,
.main-mega-menu .om-maximenu-no-style .om-maximenu-content .block-menu.block-menu-id-menu-online-shoppers,
.main-mega-menu .om-maximenu-no-style .om-maximenu-content .block-menu.block-menu-id-menu-our-customers {
  clear: none;
  float: none;
}
/* line 70, ../sass/ie7.scss */
.main-mega-menu .om-maximenu-no-style .om-maximenu-content .block-menu {
  display: block;
  float: none;
}
/* line 78, ../sass/ie7.scss */
.main-mega-menu .om-maximenu-content .block.block-menu.block-menu-id-menu-online-payments {
  position: absolute;
  top: 10px;
  left: 10px;
}
/* line 85, ../sass/ie7.scss */
.main-mega-menu .om-maximenu-content .block.block-menu.block-menu-id-menu-card-machine-payments {
  position: absolute;
  top: 10px;
  left: 283px;
}
/* line 92, ../sass/ie7.scss */
.main-mega-menu .om-maximenu-content .block.block-menu.block-menu-id-menu-getting-started {
  position: absolute;
  top: 10px;
  left: 556px;
}
/* line 99, ../sass/ie7.scss */
.main-mega-menu .om-maximenu-content .block.block-menu.block-menu-id-menu-mail-telephone-payments {
  position: absolute;
  top: 182px;
  left: 10px;
}
/* line 106, ../sass/ie7.scss */
.main-mega-menu .om-maximenu-content .block.block-menu.block-menu-id-menu-einvoice-payments {
  position: absolute;
  top: 182px;
  left: 283px;
}
/* line 113, ../sass/ie7.scss */
.main-mega-menu .om-maximenu-content .block.block-menu.block-menu-id-menu-additional-services {
  position: absolute;
  top: 182px;
  left: 556px;
}
/* line 122, ../sass/ie7.scss */
.main-mega-menu .om-maximenu-content .block.block-menu.block-menu-id-menu-partner-programme {
  position: absolute;
  top: 10px;
  left: 10px;
}
/* line 129, ../sass/ie7.scss */
.main-mega-menu .om-maximenu-content .block.block-menu.block-menu-id-menu-developer-resources {
  position: absolute;
  top: 10px;
  left: 283px;
}
/* line 136, ../sass/ie7.scss */
.main-mega-menu .om-maximenu-content .block.block-menu.block-menu-id-menu-3rd-party-integrations {
  position: absolute;
  top: 10px;
  left: 556px;
}
/* line 145, ../sass/ie7.scss */
.main-mega-menu .om-maximenu-content .block.block-menu.block-menu-id-menu-support {
  position: absolute;
  top: 10px;
  left: 10px;
}
/* line 152, ../sass/ie7.scss */
.main-mega-menu .om-maximenu-content .block.block-menu.block-menu-id-menu-developer-resources-support {
  position: absolute;
  top: 10px;
  left: 283px;
}
/* line 159, ../sass/ie7.scss */
.main-mega-menu .om-maximenu-content .block.block-menu.block-menu-id-menu-free-24-7-support {
  position: absolute;
  top: 10px;
  left: 556px;
}
/* line 166, ../sass/ie7.scss */
.main-mega-menu .om-maximenu-content .block.block-menu.block-menu-id-menu-online-shoppers {
  position: absolute;
  top: 242px;
  left: 10px;
}
/* line 173, ../sass/ie7.scss */
.main-mega-menu .om-maximenu-content .block.block-menu.block-menu-id-menu-useful-tools {
  position: absolute;
  top: 242px;
  left: 283px;
}
/* line 182, ../sass/ie7.scss */
.main-mega-menu .om-maximenu-content .block.block-menu.block-menu-id-menu-company-information {
  position: absolute;
  top: 10px;
  left: 10px;
}
/* line 189, ../sass/ie7.scss */
.main-mega-menu .om-maximenu-content .block.block-menu.block-menu-id-menu-news-events {
  position: absolute;
  top: 10px;
  left: 283px;
}
/* line 196, ../sass/ie7.scss */
.main-mega-menu .om-maximenu-content .block.block-menu.block-menu-id-menu-careers {
  position: absolute;
  top: 10px;
  left: 556px;
}
/* line 203, ../sass/ie7.scss */
.main-mega-menu .om-maximenu-content .block.block-menu.block-menu-id-menu-our-customers {
  position: absolute;
  top: 212px;
  left: 10px;
}

/** slideshow text breaks because of lack of media query support - so we are going to fix the slideshow width here to widest view
  * Slideshow region layout: same CSS as main stylesheet except it has been removed from its media query 
  */
/* line 213, ../sass/ie7.scss */
.zone-user.container-16 {
  width: 100%;
}

/* line 216, ../sass/ie7.scss */
.container-16 .grid-16.region-preface-third {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

/* tidy up admin grid overlay */
/* line 222, ../sass/ie7.scss */
.alpha-grid-debug .zone-user.container-16 {
  background: none;
  padding-top: 10px;
}

/* line 226, ../sass/ie7.scss */
.alpha-region-debug .zone-user .alpha-debug-block h2 {
  width: 920px;
  margin: 0 auto;
}

/* line 238, ../sass/ie7.scss */
#zone-header-wrapper,
#zone-branding-wrapper,
#zone-menu-wrapper,
#zone-user-wrapper,
#zone-preface-wrapper,
#zone-content-wrapper,
#zone-postscript-wrapper,
#zone-footer-wrapper,
#zone-bottom-banner-wrapper {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/* there is a gap between slideshow and icons below it */
/* line 244, ../sass/ie7.scss */
#block-views-home-page-slide-show-block {
  margin-bottom: -2px;
}

/* social media block is is partially hidden below slide show, top strips 
 * Note: part of the fix was to set a higher z-index for branding area than menu area
 * because the socila media block lives in the branding area, even though it has a fixed position.
 */
/* line 252, ../sass/ie7.scss */
#block-social-tab-social-tab {
  z-index: 600;
}

/* footer legal menu positioning problem */
/* line 257, ../sass/ie7.scss */
#block-menu-block-4 {
  padding-top: 16px;
  width: 470px;
  float: right;
}

/* case study slides are not visible in case study slide shows - but the nav buttons are */
/* line 265, ../sass/ie7.scss */
.views-slideshow-cycle-main-frame-row,
.views-slideshow-cycle-main-frame-row[style] {
  width: 940px;
  height: 220px;
}

/* search box in main content area breaks - general search and support search */
/* line 273, ../sass/ie7.scss */
.help-topic-search input[type="submit"],
.supoort-article-search input[type="submit"] {
  position: relative;
  top: 1px;
  left: 100px;
  background-color: #57585c;
}

/* search box in main content area breaks - error code search */
/* line 282, ../sass/ie7.scss */
.view-search-error-messages .view-filters input[type="submit"] {
  position: relative;
  top: 18px;
  left: 100px;
  background-color: #57585c;
}

/* text fileds are too tall */
/* line 292, ../sass/ie7.scss */
input[type="text"],
input[type="email"],
input[type="password"] {
  line-height: 1;
  height: 16px;
}

/* textarea gripe does not line up with teaxtarea box */
/* line 299, ../sass/ie7.scss */
.resizable-textarea textarea {
  width: auto;
}
/* line 302, ../sass/ie7.scss */
.resizable-textarea .grippie {
  display: none;
}

/* partner node customer images wrapper needs some margin below it */
/* line 309, ../sass/ie7.scss */
.node-type-partner .field-name-field-partner-customer-logos {
  overflow: hidden;
  margin-bottom: 20px;
}

/* search form in main comntent area does not look good - search button is in the wrong place */
/* line 317, ../sass/ie7.scss */
#section-content .partner-search-form {
  /* warapper containing the background color */
  /* wrapper for each search widget - wraps the text box and the submit button */
  /* search text filed wrapper - not the actual text field */
  /* submit button wrapper - not the actula button though */
}
/* line 319, ../sass/ie7.scss */
#section-content .partner-search-form .content {
  height: 55px;
}
/* line 323, ../sass/ie7.scss */
#section-content .partner-search-form .views-exposed-widgets {
  position: relative;
}
/* line 327, ../sass/ie7.scss */
#section-content .partner-search-form .views-exposed-widget.views-widget-filter-keyword {
  position: absolute;
  top: 0px;
  left: 0px;
}
/* line 333, ../sass/ie7.scss */
#section-content .partner-search-form .views-exposed-widget.views-submit-button {
  position: absolute;
  top: 1px;
  left: 483px;
}
/* line 339, ../sass/ie7.scss */
#section-content .partner-search-form input[type="submit"] {
  display: block;
  float: none;
  position: relative;
  top: 0px;
  left: 0px;
  background-color: #000000;
}
