/**
 * Fixes for IE8 browser
 */
/** slideshow text breaks because of lack of media query support - so we are going to fix the slideshow width here to widest view
  * Slideshow region layout: same CSS as main stylesheet except it has been removed from its media query 
  */
/* line 12, ../sass/ie8.scss */
.zone-user.container-16 {
  width: 100%;
}

/* line 15, ../sass/ie8.scss */
.container-16 .grid-16.region-preface-third {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

/* tidy up admin grid overlay */
/* line 21, ../sass/ie8.scss */
.alpha-grid-debug .zone-user.container-16 {
  background: none;
  padding-top: 10px;
}

/* line 25, ../sass/ie8.scss */
.alpha-region-debug .zone-user .alpha-debug-block h2 {
  width: 920px;
  margin: 0 auto;
}

/* line 37, ../sass/ie8.scss */
#zone-header-wrapper,
#zone-branding-wrapper,
#zone-menu-wrapper,
#zone-user-wrapper,
#zone-preface-wrapper,
#zone-content-wrapper,
#zone-postscript-wrapper,
#zone-footer-wrapper,
#zone-bottom-banner-wrapper {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}

/* icons below slideshow are not floating correctly */
/* line 44, ../sass/ie8.scss */
.icons-below-slide-show {
  /* text editor is adding blank a-tags, let's remove them */
  /* now we need to display the a-tags we need */
  /* hover background on second icon just won't work so let's disable the hover */
}
/* line 45, ../sass/ie8.scss */
.icons-below-slide-show .grid-4 {
  display: block;
  position: static;
}
/* line 50, ../sass/ie8.scss */
.icons-below-slide-show a {
  display: none;
}
/* line 54, ../sass/ie8.scss */
.icons-below-slide-show a.link-wrapper {
  display: block;
}
/* line 58, ../sass/ie8.scss */
.icons-below-slide-show .tag-wrapper:hover {
  background-color: transparent;
}

/* case study slides are not visible in case study slide shows - but the nav buttons are */
/* line 65, ../sass/ie8.scss */
.views-slideshow-cycle-main-frame-row,
.views-slideshow-cycle-main-frame-row[style] {
  width: 940px;
  height: 220px;
}

/* text in text boxes - epescially search results - are vertically misaligned */
/* line 73, ../sass/ie8.scss */
input[type="text"],
input[type="email"],
input[type="password"] {
  line-height: 1;
}

/* add select list styling - ie 8 does not understand media queries */
/* line 78, ../sass/ie8.scss */
select {
  border: 2px solid #98999a;
}

/* date selector - ie 8 does not understand media queries */
/* line 84, ../sass/ie8.scss */
.webform-component-date select {
  border: 2px solid #98999a;
}
/* line 87, ../sass/ie8.scss */
.webform-component-date select.month {
  -webkit-border-top-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  -ms-border-top-right-radius-: 0px;
  -o-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -ms-border-bottom-right-radius-: 0px;
  -o-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
/* line 99, ../sass/ie8.scss */
.webform-component-date select.day {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}
/* line 106, ../sass/ie8.scss */
.webform-component-date select.year {
  webkit-border-top-left-radius: 0px;
  -moz-border-top-left-radius: 0px;
  -ms-border-top-left-radius-: 0px;
  -o-border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  webkit-border-bottom-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  -ms-border-bottom-left-radius-: 0px;
  -o-border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}

/* time selector - ie 8 does not understand media queries */
/* line 123, ../sass/ie8.scss */
.webform-component-webform_time {
  /* label for am and pm */
  /* individual radio button wrapper */
}
/* line 125, ../sass/ie8.scss */
.webform-component-webform_time .webform-container-inline label {
  margin-right: 0px;
}
/* line 128, ../sass/ie8.scss */
.webform-component-webform_time select {
  border: 2px solid #98999a;
}
/* line 131, ../sass/ie8.scss */
.webform-component-webform_time .form-item-submitted-time-hour select {
  -webkit-border-top-right-radius: 0px;
  -moz-border-top-right-radius: 0px;
  -ms-border-top-right-radius-: 0px;
  -o-border-top-right-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-border-bottom-right-radius: 0px;
  -moz-border-bottom-right-radius: 0px;
  -ms-border-bottom-right-radius-: 0px;
  -o-border-bottom-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
/* line 143, ../sass/ie8.scss */
.webform-component-webform_time .form-item-submitted-time-minute select {
  webkit-border-top-left-radius: 0px;
  -moz-border-top-left-radius: 0px;
  -ms-border-top-left-radius-: 0px;
  -o-border-top-right-radius: 0px;
  border-top-left-radius: 0px;
  webkit-border-bottom-left-radius: 0px;
  -moz-border-bottom-left-radius: 0px;
  -ms-border-bottom-left-radius-: 0px;
  -o-border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
/* line 161, ../sass/ie8.scss */
.webform-component-webform_time .form-item-submitted-time-ampm {
  margin-left: 10px;
}

/* select lists in views exposed filters in the sidebar are too wide */
/* line 168, ../sass/ie8.scss */
.region-sidebar-second .views-exposed-widgets select.form-select,
.region-sidebar-first .views-exposed-widgets select.form-select {
  min-width: 190px;
  width: 190px;
  height: 2em;
}

/* line 176, ../sass/ie8.scss */
.region-sidebar-second .block-facetapi select.form-select,
.region-sidebar-first .block-facetapi select.form-select {
  min-width: 190px;
  width: 190px;
  height: 2em;
}

/* specific to partners search filters */
/* line 187, ../sass/ie8.scss */
.region-sidebar-second .partner-filter .form-select,
.region-sidebar-first .partner-filter .form-select {
  min-width: 190px;
  width: 190px;
  height: 2em;
}
