// SAGEPAY MIXINS


@mixin color($colorcode) {
	@if($colorcode == 1) { color: #007f64; }
	@else if ($colorcode == 2) { color: #41a940; }
	@else if ($colorcode == 3) { color: #9a9bnc; }
	@else if ($colorcode == 4) { color: #000; } // spare style - setting this to black for now as no colour defined in sage style guide
	@else if ($colorcode == 5) { color: #ff0000; }
	@else if ($colorcode == 6) { color: #ff5800; }
	@else if ($colorcode == 7) { color: #000000; }
	@else if ($colorcode == 8) { color: #4c4e52; }
	@else if ($colorcode == 9) { color: #4d4f53; }
	@else if ($colorcode == 10) { color: #4e4e4e; }
	@else if ($colorcode == 11) { color: #9a9b9c; }
	@else if ($colorcode == 12) { color: #999a9b; }
	@else if ($colorcode == 13) { color: #f7f7f6; }
	@else if ($colorcode == 14) { color: #ffffff; }
	@else if ($colorcode == 15) { color: #e0e1dd; }
	@else if ($colorcode == 16) { color: #418240; }
	@else if ($colorcode == 17) { color: #e6e6e6; }
	@else if ($colorcode == 18) { color: #333333; }
	@else if ($colorcode == 19) { color: #666666; }
	@else if ($colorcode == 20) { color: #003399; }
	@else if ($colorcode == 21) { color: #eff0ee; }
	@else if ($colorcode == 22) { color: #98999a; }
}

@mixin bgcolor($colorcode) {
	@if($colorcode == 1) { background-color: #007f64; }
	@else if ($colorcode == 2) { background-color: #41a940; }
	@else if ($colorcode == 3) { background-color: #9a9bnc; }
	@else if ($colorcode == 4) { background-color: #000; } // spare style - setting this to black for now as no colour defined in sage style guide
	@else if ($colorcode == 5) { background-color: #ff0000; }
	@else if ($colorcode == 6) { background-color: #ff5800; }
	@else if ($colorcode == 7) { background-color: #000000; }
	@else if ($colorcode == 8) { background-color: #4c4e52; }
	@else if ($colorcode == 9) { background-color: #4d4f53; }
	@else if ($colorcode == 10) { background-color: #4e4e4e; }
	@else if ($colorcode == 11) { background-color: #9a9b9c; }
	@else if ($colorcode == 12) { background-color: #999a9b; }
	@else if ($colorcode == 13) { background-color: #f7f7f6; }
	@else if ($colorcode == 14) { background-color: #ffffff; }
	@else if ($colorcode == 15) { background-color: #e0e1dd; }
	@else if ($colorcode == 16) { background-color: #418240; }
	@else if ($colorcode == 17) { background-color: #e6e6e6; }
	@else if ($colorcode == 18) { background-color: #333333; }
	@else if ($colorcode == 19) { background-color: #666666; }
	@else if ($colorcode == 20) { background-color: #003399; }
	@else if ($colorcode == 21) { background-color: #eff0ee; }
	@else if ($colorcode == 22) { background-color: #98999a; }
}

@mixin vertical-gradient($topcolor, $bottomcolor, $fallbackcolor) {
	// Good explanation of cross-browser gradients here: http://www.yaplex.com/css/how-to-create-cross-browser-css-gradient-background-without-image
	// for browsers not supporting gradient without image
  background: $fallbackcolor;
  // Mozilla Firefox
  background: -moz-linear-gradient(bottom, $topcolor, $bottomcolor);
  // Chrome and Safari
  background: -webkit-gradient(linear, left top, left bottom, from($topcolor), to($bottomcolor));
  // Microsoft Internet Explorer
  filter: progid:DXImageTransform.Microsoft.Gradient(StartColorStr='#{$topcolor}', EndColorStr='#{$bottomcolor}', GradientType=0);
}

@mixin grad($gradientcode) {
	// orange
	@if($gradientcode == 1) {
		$topcolor: #ff5800;
		$bottomcolor: #ff0000;
		$fallbackcolor: #ff0000;
		@include vertical-gradient($topcolor, $bottomcolor, $fallbackcolor);
	}
	// green
	@else if ($gradientcode == 2) {
		$topcolor: #41a940;
		$bottomcolor: #418240;
		$fallbackcolor: #418240;
		@include vertical-gradient($topcolor, $bottomcolor, $fallbackcolor);
	}
	// grey
	@else if ($gradientcode == 3) {
		$topcolor: #303030;
		$bottomcolor: #262626;
		$fallbackcolor: #303030;
		@include vertical-gradient($topcolor, $bottomcolor, $fallbackcolor);
	}
}


@mixin font($fontcode) {
	@if($fontcode == 1) { font-family: foco, arial, helvetica, sans-serif; font-size: 34px; font-weight: bold; @include color(14); line-height: 1.285; }
	@else if ($fontcode == 2) { font-family: foco, arial, helvetica, sans-serif; font-size: 30px; font-weight: bold; @include color(9); }
	@else if ($fontcode == 3) { font-family: foco, arial, helvetica, sans-serif; font-size: 26px; font-weight: bold; @include color(9); }
	@else if ($fontcode == 4) { font-family: foco, arial, helvetica, sans-serif; font-size: 24px; font-weight: normal; @include color(9); }
	@else if ($fontcode == 5) { font-family: arial, helvetica, sans-serif; font-size: 18px; font-weight: normal; @include color(2); }
	@else if ($fontcode == 6) { font-family: arial, helvetica, sans-serif; font-size: 14px; font-weight: normal; @include color(9); line-height: 1.285; }
	@else if ($fontcode == 7) { font-family: foco, arial, helvetica, sans-serif; font-size: 48px; font-weight: bold; @include color(14); line-height: 57px; }
	@else if ($fontcode == 8) { font-family: arial, helvetica, sans-serif; font-size: 14px; font-weight: normal; @include color(14); line-height: 1.285; }
	@else if ($fontcode == 9) { font-family: foco, arial, helvetica, sans-serif; font-size: 26px; font-weight: bold; @include color(14); }
	@else if ($fontcode == 10) { font-family: foco, arial, helvetica, sans-serif; font-size: 20px; font-weight: bold; @include color(14); }
	@else if ($fontcode == 11) { font-family: foco, arial, helvetica, sans-serif; font-size: 24px; font-weight: normal; @include color(14); line-height: 27px; }
	@else if ($fontcode == 12) { font-family: foco, arial, helvetica, sans-serif; font-size: 14px; font-weight: bold; line-height: 1px; } 
	@else if ($fontcode == 13) { font-family: foco, arial, helvetica, sans-serif; font-size: 28px; font-weight: bold; line-height: 1px; } 
	@else if ($fontcode == 14) { font-family: foco, arial, helvetica, sans-serif; font-size: 34px; font-weight: bold;}
	@else if ($fontcode == 15) { font-family: foco, arial, helvetica, sans-serif; font-size: 30px; font-weight: bold; }
	@else if ($fontcode == 16) { font-family: foco, arial, helvetica, sans-serif; font-size: 26px; font-weight: bold; line-height: 1.1;}
	@else if ($fontcode == 17) { font-family: foco, arial, helvetica, sans-serif; font-size: 24px; font-weight: normal; line-height: 1.1; }
	@else if ($fontcode == 18) { font-family: arial, helvetica, sans-serif; font-size: 18px; font-weight: normal; }
	@else if ($fontcode == 19) { font-family: arial, helvetica, sans-serif; font-size: 14px; font-weight: normal; }
	@else if ($fontcode == 20) { font-family: foco, arial, helvetica, sans-serif; font-size: 48px; font-weight: bold; line-height: 57px; }
	@else if ($fontcode == 21) { font-family: arial, helvetica, sans-serif; font-size: 14px; font-weight: normal; line-height: 1.285; }
	@else if ($fontcode == 22) { font-family: foco, arial, helvetica, sans-serif; font-size: 26px; font-weight: bold; }
	@else if ($fontcode == 23) { font-family: foco, arial, helvetica, sans-serif; font-size: 20px; font-weight: bold; }
	@else if ($fontcode == 24) { font-family: foco, arial, helvetica, sans-serif; font-size: 24px; font-weight: normal; line-height: 27px; }
	@else if ($fontcode == 25) { font-family: arial, helvetica, sans-serif; font-size: 12px; font-weight: normal; }
	@else if ($fontcode == 26) { font-family: arial, helvetica, sans-serif; font-size: 16px; font-weight: bold; }
	@else if ($fontcode == 27) { font-family: arial, helvetica, sans-serif; font-size: 11px; font-weight: normal; line-height: 1; }
	@else if ($fontcode == 28) { font-family: foco, arial, helvetica, sans-serif; font-size: 18px; font-weight: normal; line-height: 1.1; }
	@else if ($fontcode == 29) { font-family: foco, arial, helvetica, sans-serif; font-size: 20px; font-weight: normal; line-height: 1.1; }
	@else if ($fontcode == 30) { font-family: arial, helvetica, sans-serif; font-size: 20px; font-weight: normal; line-height: 1.1; }
	@else if ($fontcode == 31) { font-family: foco, arial, helvetica, sans-serif; font-size: 15px; font-weight: bold; line-height: 1.1; }
	@else if ($fontcode == 32) { font-family: foco, arial, helvetica, sans-serif; font-size: 16px; font-weight: bold; line-height: 1.285; }
	@else if ($fontcode == 33) { font-family: foco, arial, helvetica, sans-serif; font-size: 20px; font-weight: bold; line-height: 1.1; }
	@else if ($fontcode == 34) { font-family: foco, arial, helvetica, sans-serif; font-size: 18px; font-weight: bold; line-height: 1.1;}
	@else if ($fontcode == 35) { font-family: foco, arial, helvetica, sans-serif; font-size: 16px; font-weight: bold; line-height: 1.1;}
	@else if ($fontcode == 36) { font-family: foco, arial, helvetica, sans-serif; font-size: 15px; font-weight: normal; line-height: 1.1;}
}

@mixin link($linkcode) {
	@if($linkcode == 1) { 
		text-decoration: none; @include color(15); 
		&:link, &:visited { text-decoration: none; @include color(15); }
		&:hover { text-decoration: underline; @include color(14); } 
	}
	@else if($linkcode == 2) { 
		text-decoration: none; @include color(14); 
		&:link, &:visited { text-decoration: none; @include color(14);  }
		&:hover { text-decoration: none; @include color(14); } 
	}
	@else if($linkcode == 3) { 
		text-decoration: none; @include color(9); 
		&:link, &:visited { text-decoration: none; @include color(9); }
		&:hover { text-decoration: none; @include color(1); } 
	}
	@else if($linkcode == 4) { 
		text-decoration: none; @include color(2); 
		&:link, &:visited { text-decoration: none; @include color(2); }
		&:hover { text-decoration: underline; @include color(2); } 
	}
	@else if($linkcode == 5) { 
		text-decoration: none; @include color(9); 
		&:link, &:visited { text-decoration: none; @include color(9);  }
		&:hover { text-decoration: underline; @include color(9); } 
	}
	@else if($linkcode == 6) { 
		text-decoration: none; @include color(14); 
		&:link, &:visited { ext-decoration: none; @include color(14); }
		&:hover { text-decoration: none; @include color(14); } 
	}
	@else if($linkcode == 7) { 
		text-decoration: none; @include color(9);
		&:link, &:visited { text-decoration: none; @include color(9); }
		&:hover { text-decoration: none; @include color(9); }
	}
	@else if($linkcode == 8) { 
		text-decoration: underline; @include color(9); 
		&:link, &:visited { text-decoration: underline; @include color(9);  }
		&:hover { text-decoration: underline; @include color(9); } 
	}
	@else if($linkcode == 9) { 
		text-decoration: none; @include color(14); 
		&:link, &:visited { text-decoration: none; @include color(14); }
		&:hover { text-decoration: underline; @include color(14); } 
	}
	@else if($linkcode == 10) { 
		text-decoration: none; @include color(2); 
		&:link, &:visited { text-decoration: none; @include color(2); }
		&:hover { text-decoration: none; @include color(1); } 
	}
	@else if($linkcode == 11) { 
		text-decoration: none; @include color(1); 
		&:link, &:visited { text-decoration: none; @include color(1);  }
		&:hover { text-decoration: underline; @include color(1); } 
	}
}


@mixin button($stylecode) {
	// orange button
	@if($stylecode == 1) {
		@include font(12); 
		@include color(14);
		@include bgcolor(6);
		padding: 13px 30px 14px 30px;
		border: none;
		text-decoration: none;
		display: inline-block;
		*display: inline;
		zoom: 1;
		&:hover { 
			@include color(14); 
			@include grad(1);
			text-decoration: none;
		} 
	}
	// green button
	@else if($stylecode == 2) { 
		@include font(13);
		@include color(14);
		@include bgcolor(2);
		padding: 28px 40px 28px 40px;
		border: none;
		text-decoration: none;
		display: inline-block;
		*display: inline;
		zoom: 1;
		&:hover { 
			@include color(14); 
			@include grad(2);
			text-decoration: none;
		} 
	}
	// green button getting started
	@else if($stylecode == 3) { 
		@include font(13);
		@include color(14);
		@include bgcolor(2);
		padding: 36px 10px 0px 10px;
		border: none;
		text-decoration: none;
		display: block;
		text-align: center;
		width: 200px; /* 220px-10px-10px */
		height: 42px;	/* 78px-36px */
		&:hover { 
			@include color(14); 
			@include grad(2);
			text-decoration: none;
		} 
	}
	// green button support feedback
	@else if($stylecode == 4) { 
		@include font(13);
		@include color(14);
		@include bgcolor(2);
		padding: 30px 30px 30px 30px;
		width: 160px;
		border: none;
		text-decoration: none;
		display: inline-block;
		*display: inline;
		zoom: 1;
		&:hover { 
			@include color(14); 
			@include grad(2);
			text-decoration: none;
		} 
	}
	// orange button small with no gradient
	@if($stylecode == 5) {
		@include font(25); 
		@include color(14);
		@include bgcolor(6);
		padding: 5px 8px 5px 8px;
		border: none;
		text-decoration: none;
		display: inline-block;
		*display: inline;
		zoom: 1;
		&:hover { 
			@include color(14); 
			@include bgcolor(5);
			text-decoration: none;
		} 
	}
}

@mixin border($bordercode) {
		@if($bordercode == 1) {
			border-bottom: 1px dotted #4d4f53;
		}
		@else if($bordercode == 2) {
			border-bottom: 1px solid #929292;
		}
		@else if($bordercode == 3) {
			border-top: 1px dotted #4d4f53;
		}
		@else if($bordercode == 4) {
			border-top: 1px dotted #4d4f53;
			border-bottom: 1px dotted #4d4f53;
		}
		@else if($bordercode == 5) {
			border: 1px solid #666666;
		}
		@else if($bordercode == 6) {
			border: 2px solid #98999a;
		}
}

@mixin megaicon($iconcode) {
	// different icons
	@if($iconcode == 1) {
		background: url('../images/assets/mega-menu_about-us_careers.png');
		background-repeat: no-repeat;
		background-position: left top;
		padding-left: 53px;
		padding-top: 10px;
	}
	@else if ($iconcode == 2) {
		background: url('../images/assets/mega-menu_about-us_company-information.png');
		background-repeat: no-repeat;
		background-position: left top;
		padding-left: 53px;
		padding-top: 10px;
	}
	@else if ($iconcode == 3) {
		background: url('../images/assets/mega-menu_about-us_insights-and-publications.png');	
		background-repeat: no-repeat;
		background-position: left top;
		padding-left: 53px;
		padding-top: 10px;
	}
	@else if ($iconcode == 4) {
		background: url('../images/assets/mega-menu_about-us_news-and-events.png');
		background-repeat: no-repeat;
		background-position: left top;
		padding-left: 53px;
		padding-top: 10px;
	}
	@else if ($iconcode == 5) {
		background: url('../images/assets/mega-menu_about-us_our-customers.png');
		background-repeat: no-repeat;
		background-position: left top;
		padding-left: 53px;
		padding-top: 10px;
	}
	@else if ($iconcode == 6) {
		background: url('../images/assets/mega-menu_our-payment-solutions_additional-services.png');
		background-repeat: no-repeat;
		background-position: left top;
		padding-left: 53px;
		padding-top: 10px;
	}
	@else if ($iconcode == 7) {
		background: url('../images/assets/mega-menu_our-payment-solutions_card-machine-payments.png.png');	// this image seems to have .png in its name too
		background-repeat: no-repeat;
		background-position: left top;
		padding-left: 53px;
		padding-top: 10px;
	}
	@else if ($iconcode == 8) {
		background: url('../images/assets/mega-menu_our-payment-solutions_eInvoice-payments.png');
		background-repeat: no-repeat;
		background-position: left top;
		padding-left: 53px;
		padding-top: 10px;
	}
	@else if ($iconcode == 9) {
		background: url('../images/assets/mega-menu_our-payment-solutions_getting-started.png');
		background-repeat: no-repeat;
		background-position: left top;
		padding-left: 53px;
		padding-top: 10px;
	}
	@else if ($iconcode == 10) {
		background: url('../images/assets/mega-menu_our-payment-solutions_mail-and-telephone-payments.png');
		background-repeat: no-repeat;
		background-position: left top;
		padding-left: 53px;
		padding-top: 10px;
	}
	@else if ($iconcode == 11) {
		background: url('../images/assets/mega-menu_our-payment-solutions_online-payments.png');
		background-repeat: no-repeat;
		background-position: left top;
		padding-left: 53px;
		padding-top: 10px;
	}
	@else if ($iconcode == 12) {
		background: url('../images/assets/mega-menu_partners-and-developers_3rd-party-integrations.png');
		background-repeat: no-repeat;
		background-position: left top;
		padding-left: 53px;
		padding-top: 10px;
	}
	@else if ($iconcode == 13) {
		background: url('../images/assets/mega-menu_partners-and-developers_developer-resources.png');
		background-repeat: no-repeat;
		background-position: left top;
		padding-left: 53px;
		padding-top: 10px;
	}
	@else if ($iconcode == 14) {
		background: url('../images/assets/mega-menu_partners-and-developers_existing-partners.png');
		background-repeat: no-repeat;
		background-position: left top;
		padding-left: 53px;
		padding-top: 10px;
	}
	@else if ($iconcode == 15) {
		background: url('../images/assets/mega-menu_partners-and-developers_partner-directory.png');
		background-repeat: no-repeat;
		background-position: left top;
		padding-left: 53px;
		padding-top: 10px;
	}
	@else if ($iconcode == 16) {
		background: url('../images/assets/mega-menu_partners-and-developers_partner-programme.png');
		background-repeat: no-repeat;
		background-position: left top;
		padding-left: 53px;
		padding-top: 10px;
	}
	@else if ($iconcode == 17) {
		background: url('../images/assets/mega-menu_support_developer-resources.png');
		background-repeat: no-repeat;
		background-position: left top;
		padding-left: 53px;
		padding-top: 10px;
	}
	@else if ($iconcode == 18) {
		background: url('../images/assets/mega-menu_support_free-247-support.png');
		background-repeat: no-repeat;
		background-position: left top;
		padding-left: 53px;
		padding-top: 10px;
	}
	@else if ($iconcode == 19) {
		background: url('../images/assets/mega-menu_support_online-shoppers.png');
		background-repeat: no-repeat;
		background-position: left top;
		padding-left: 53px;
		padding-top: 10px;
	}
	@else if ($iconcode == 20) {
		background: url('../images/assets/mega-menu_support_support.png');
		background-repeat: no-repeat;
		background-position: left top;
		padding-left: 53px;
		padding-top: 10px;
	}
	@else if ($iconcode == 21) {
		background: url('../images/assets/mega-menu_support_useful-tools.png');
		background-repeat: no-repeat;
		background-position: left top;
		padding-left: 53px;
		padding-top: 10px;
	}
}
