@import "compass";
@import "breakpoint";
@import "singularitygs";
@import "toolkit-no-css";

// Globbing from within sub-folders only works with relative paths.
@import "variables/**/*";
@import "abstractions/**/*";
@import "base/**/*";
@import "components/**/*";

// Generate normalize.css.
@import "normalize";

// Use 'border-box' for the box model.
@import "toolkit/border-box";

body {
  margin: 0 auto;
}

.element-invisible {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
}

.header-top {
	overflow: hidden;
}
.l-breadcrumb-accessibility {
	overflow: hidden;
}
.l-preface {
	overflow: hidden;
}
.l-main {
	overflow: hidden;
}
.bottom-menu-wrapper-inner {
  overflow: hidden;
}
.l-footer {
	overflow: hidden;
}
.footer-top {
	overflow: hidden;
}
.footer-bottom {
	overflow: hidden;
}
.footer-wrapper {
	overflow: hidden;
}
.footer-wrapper-inner {
	overflow: hidden;
}
.l-content {
	@include grid-span(9,1);
}

/* force wrappers to expand beyond browser window size when browser made smaller */
.header-wrapper,
.breadcrumb-accessibility-wrapper,
.main-wrapper,
.bottom-menu-wrapper,
.footer-wrapper {
	min-width: 960px;
}

/* layout - desktop first approach */
.header-wrapper-inner,
.l-breadcrumb-accessibility,
.l-preface,
.l-main,
.bottom-menu-wrapper-inner,
.l-footer {
	width: 960px;		/* we are using border box plugin so padding will not increase the width of the box */
	padding-left: 6px;
	padding-right: 6px;
	margin: 0 auto;
}

.l-header-branding {
	@include grid-span(3,1);
}

.l-header-social-media {
	@include grid-span(3,10);
}


/* mobile layout */
@include breakpoint($mobile) {
	.header-wrapper-inner,
	.l-breadcrumb-accessibility,
	.l-preface,
	.l-main,
	.bottom-menu-wrapper-inner,
	.l-footer {
		width: 100%;		// we are using border box plugin so padding will not increase the width of the box
		padding-left: 6px;
		padding-right: 6px;
		margin: 0;
	}
	.l-main {
		padding-bottom: 12px;
	}
	.l-header-branding {
		@include grid-span(6,1);
    margin-bottom: 10px;
	}
	.header-bottom {
		@include clearfix;
	}
	.l-header-main-menu {
		@include grid-span(12,1);
		clear: both;
		float: none;
	}
	.l-header-social-media {
		@include grid-span(0,0);
		clear: both;
		float: none;
		display: none;
	}
	.breadcrumb-accessibility-wrapper {
		 @include clearfix;
	}
	.l-breadcrumb {
		@include grid-span(12,1);
		clear: both;
		float: none;
	}
	.l-accessibility {
		@include grid-span(0,0);
		display: none;
	}
	.l-preface {
		@include grid-span(12,1);
		clear: both;
		float: none;
	}
	.main-wrapper {
		@include clearfix;
	}
	.l-content {
		@include grid-span(12,1);
		clear: both;
		float: none;
	}
	.l-sidebar-second {
		@include grid-span(12,1);
		clear: both;
		float: none;
	}
	.bottom-menu-wrapper {
		@include clearfix;
		display: none;
	}
	.l-bottom-menu {
		@include grid-span(12,1);
		clear: both;
		float: none;
	}
	.footer-bottom {
		@include clearfix;
	}
	.l-footer-copyright {
		@include grid-span(12,1);
		clear: both;
		float: none;
	}
	.l-footer-menu {
		@include grid-span(12,1);
		clear: both;
		float: none;
	}
	.l-footer-buttons {
		@include grid-span(12,1);
		clear: both;
		float: none;
	}
	.header-wrapper,
	.breadcrumb-accessibility-wrapper,
	.main-wrapper,
	.bottom-menu-wrapper,
	.footer-wrapper {
		min-width: 0;	// note min-width: none has no effect (not valid), must be 0;
	}
}

.maintenance-page.in-maintenance {
  
  // Hide contextual links wrappers
  .contextual-links-wrapper {
    display: none;
  }

  h1 {
    font-size: 2.8em;
  }
  
  .social-media-icons {
    top: initial;
    margin-bottom: initial;
    padding-top: 20px;
    
    .block__content {
      li {
        &.last-item {
          margin-right: 0;
        }
      } 
    }
  }
  
  .main-content-inner {
    .social-media-icons {
      margin-bottom: 3em;
      padding-top: 0;
      
      li {
        margin-right: 8px;
        a {
          img {
            height: auto;
            width: auto;
          }
        }
      }
    }
  }
  
}
