@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\000039}}
.l-main {
  overflow: hidden; }

/* layout - desktop first approach */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\0000314}}
.l-main {
  width: 960px;
  padding-left: 6px;
  padding-right: 6px;
  margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\0000320}}
.main-wrapper {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  padding-top: 20px; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/anthonyalbertyn\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.site_frontend\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_clearfix\.scss}line{font-family:\0000348}}
  .main-wrapper:before, .main-wrapper:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/anthonyalbertyn\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.site_frontend\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_clearfix\.scss}line{font-family:\0000355}}
  .main-wrapper:after {
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\0000324}}
.l-content {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding-left: 6px;
  padding-right: 6px; }

/* override styling from _content_section.scss */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\0000329}}
.blank .main-wrapper {
  border-bottom: none; }

@media (min-width: 0px) and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\0000333}}
  .blank .main-wrapper {
    border-bottom: none; } }
/* mobile layout */
@media (min-width: 0px) and (max-width: 480px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\0000340}}
  .l-main {
    width: 100%;
    padding-left: 6px;
    padding-right: 6px;
    margin: 0; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\0000346}}
  .l-main {
    padding-top: 12px;
    padding-bottom: 12px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\0000350}}
  .main-wrapper {
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/anthonyalbertyn\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.site_frontend\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_clearfix\.scss}line{font-family:\0000348}}
    .main-wrapper:before, .main-wrapper:after {
      content: ".";
      display: block;
      height: 0;
      overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/anthonyalbertyn\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.site_frontend\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_clearfix\.scss}line{font-family:\0000355}}
    .main-wrapper:after {
      clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\0000353}}
  .l-content {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6px;
    padding-right: 6px;
    clear: both;
    float: none; } }
/* print styling overrides */
@media print {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\0000367}}
  .header-wrapper-inner,
  .l-breadcrumb-accessibility,
  .l-preface,
  .l-main,
  .bottom-menu-wrapper-inner,
  .l-footer {
    width: auto;
    padding-left: 6px;
    padding-right: 6px;
    margin: 0.5%; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\0000373}}
  .l-header-branding {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6px;
    padding-right: 6px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\0000376}}
  .l-header-top-menu {
    width: 0%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    padding-left: 6px;
    padding-right: 6px;
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\0000380}}
  .l-header-search {
    width: 0%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    padding-left: 6px;
    padding-right: 6px;
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\0000384}}
  .header-bottom {
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1;
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/anthonyalbertyn\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.site_frontend\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_clearfix\.scss}line{font-family:\0000348}}
    .header-bottom:before, .header-bottom:after {
      content: ".";
      display: block;
      height: 0;
      overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/anthonyalbertyn\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.site_frontend\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_clearfix\.scss}line{font-family:\0000355}}
    .header-bottom:after {
      clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\0000388}}
  .l-header-main-menu {
    width: 0%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    padding-left: 6px;
    padding-right: 6px;
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\0000392}}
  .l-header-social-media {
    width: 0%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    padding-left: 6px;
    padding-right: 6px;
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\0000396}}
  .breadcrumb-accessibility-wrapper {
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/anthonyalbertyn\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.site_frontend\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_clearfix\.scss}line{font-family:\0000348}}
    .breadcrumb-accessibility-wrapper:before, .breadcrumb-accessibility-wrapper:after {
      content: ".";
      display: block;
      height: 0;
      overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/anthonyalbertyn\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.site_frontend\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_clearfix\.scss}line{font-family:\0000355}}
    .breadcrumb-accessibility-wrapper:after {
      clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\0000399}}
  .l-breadcrumb {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6px;
    padding-right: 6px;
    clear: both;
    float: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\00003104}}
  .l-accessibility {
    width: 0%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    padding-left: 6px;
    padding-right: 6px;
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\00003108}}
  .l-preface {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6px;
    padding-right: 6px;
    clear: both;
    float: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\00003113}}
  .main-wrapper {
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/anthonyalbertyn\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.site_frontend\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_clearfix\.scss}line{font-family:\0000348}}
    .main-wrapper:before, .main-wrapper:after {
      content: ".";
      display: block;
      height: 0;
      overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/anthonyalbertyn\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.site_frontend\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_clearfix\.scss}line{font-family:\0000355}}
    .main-wrapper:after {
      clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\00003116}}
  .l-sidebar-first {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6px;
    padding-right: 6px;
    clear: both;
    float: none;
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\00003122}}
  .l-content {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6px;
    padding-right: 6px;
    clear: both;
    float: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\00003127}}
  .l-sidebar-second {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6px;
    padding-right: 6px;
    clear: both;
    float: none;
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\00003133}}
  .bottom-menu-wrapper {
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1;
    display: none; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/anthonyalbertyn\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.site_frontend\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_clearfix\.scss}line{font-family:\0000348}}
    .bottom-menu-wrapper:before, .bottom-menu-wrapper:after {
      content: ".";
      display: block;
      height: 0;
      overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/anthonyalbertyn\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.site_frontend\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_clearfix\.scss}line{font-family:\0000355}}
    .bottom-menu-wrapper:after {
      clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\00003137}}
  .l-bottom-menu {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6px;
    padding-right: 6px;
    clear: both;
    float: none;
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\00003143}}
  .footer-bottom {
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/anthonyalbertyn\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.site_frontend\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_clearfix\.scss}line{font-family:\0000348}}
    .footer-bottom:before, .footer-bottom:after {
      content: ".";
      display: block;
      height: 0;
      overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/anthonyalbertyn\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.site_frontend\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_clearfix\.scss}line{font-family:\0000355}}
    .footer-bottom:after {
      clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\00003146}}
  .l-footer-copyright {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6px;
    padding-right: 6px;
    clear: both;
    float: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\00003151}}
  .l-footer-menu {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6px;
    padding-right: 6px;
    clear: both;
    float: none;
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\00003157}}
  .l-footer-buttons {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6px;
    padding-right: 6px;
    clear: both;
    float: none;
    display: none; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-blank-one-column\/site-frontend-blank-one-column\.layout\.scss}line{font-family:\00003167}}
  .header-wrapper,
  .breadcrumb-accessibility-wrapper,
  .main-wrapper,
  .bottom-menu-wrapper,
  .footer-wrapper {
    min-width: 0; } }
