/* color style guide:
 * colour 1: #362544 - header background
 * colour 2: #7a539b - featured side content block background
 * colour 3: #8f62b6 - section heading background, headere and footer border
 * colour 4: #7a539b - links, sidebar menu top border, page titles, section subheadings, page summary, quote text, views row borders, table headings, guidance highlight box border
 */

/* page header and top border */
.header-wrapper {
	filter: none;	/* removes IE gradient filter */
	background: none;
	background-image: none;
	border-bottom: 3px solid #8f62b6;
	background-color: #362544;
}

/* breadcrumb region border */
.breadcrumb-accessibility-wrapper {
	border-top: none;
}

/* page bottom borders */
.main-wrapper {
	border-bottom: 4px solid #8f62b6;
}
.bottom-menu-wrapper {
	border-top: none;
}

/* site name */
h1.site-name {
	display: none;
}

/* page title */
h1 {
	color: #7a539b;
}

/* content main */
.main-content-inner {
	padding-bottom: 50px;
}

/* links */
a,
.page-section-teaser .node__title a {
	color: #7a539b;
}
a:hover,
.page-section-teaser .node__title a:hover {
	color: #7a539b;
}

/* back to top links */
.section-back-top a {
	color: #7a539b;
	background: url("../images/arrow-up.png") left 4px no-repeat;
}

/* summary field */
.field--name-field-summary,
.views-field-field-summary {
	color: #7a539b;
}


/* section headings */
.page-section-heading {
	background: #8f62b6;
}


/* latest news view title */
.committee-news h2.block__title, 
.committee-news h3.block__title {
	background: #8f62b6;
}

/* committee news node title */
.committee-news .node__title a {
	color: #7a539b;
}
.committee-news {
	font-size: 1em;
	margin-bottom: 1.3em;
}
.committee-news h3.node__title,
.committee-news h3.node__title {
	font-size: 1.3em;
	line-height: 1.4em;
	margin-bottom: 0;
	font-weight: bold;
}
.committee-news .views-row {
	border-bottom: 1px solid #7a539b;
	padding: 7px 0 7px 0;
}
.committee-news .views-row.views-row-first {
	padding: 0 0 7px 0;
}
.committee-news .views-row.views-row-last {
	border-bottom: none;
	padding: 7px 0 0 0;
}
.committee-news .views-row.views-row-first.views-row-last {
	padding: 0 0 0 0;
	border-bottom: none;
}

/* committee menu - see site front_frontent theme for the rest of the implementation */
.l-sidebar-first .committee-menu {
	border-top: 4px solid #7a539b;
}
.l-sidebar-first .committee-menu .menu-block-wrapper a.active,
.l-sidebar-first .committee-menu .block__content a.active {
    color: #7a539b;
}
.l-sidebar-first .committee-menu .menu-block-wrapper li.expanded > a,
.l-sidebar-first .committee-menu .block__content li.expanded > a {
    color: #7a539b;
}

/* pages section subheadings eg related media */
.page-section-subheading {
	color: #7a539b;
}

/* file item links in page sections */
.page-section-teaser .file-item a {
	color: #7a539b;
}

/* table of contents */
#table-of-contents-links a {
	color: #7a539b;
}
ul.toc-node-bullets li.toc-node-level-1 {
	background: url("../images/arrow-down.png") 0px 4px no-repeat;	
}
ul.toc-node-bullets li.toc-node-level-2 {
	background: url("../images/arrow-down.png") 14px 4px no-repeat;	
}
ul.toc-node-bullets li.toc-node-level-3 {
	background: url("../images/arrow-down.png") 28px 4px no-repeat;	
}
ul.toc-node-bullets li.toc-node-level-4 {
	background: url("../images/arrow-down.png") 42px 4px no-repeat;	
}
ul.toc-node-bullets li.toc-node-level-5 {
	background: url("../images/arrow-down.png") 56px 4px no-repeat;	
}
ul.toc-node-bullets li.toc-node-level-6 {
	background: url("../images/arrow-down.png") 70px 4px no-repeat;	
}

/* generic block titles */
.generic-blocks .field--name-field-title-side-content-generic {
	color: #7a539b;
}

/* see also block */
.see-also h2.block__title {
	color: #7a539b;
}
.see-also .views-field-title {
	background: url("../images/thin-right-arrow.png") left 3px no-repeat;
}
.see-also .views-field-title a {
	color: #7a539b;
}

/* external links block */
.external-sites h2.block__title {
	color: #7a539b;
}
.external-sites .views-field-field-url a {
	color: #7a539b;
}
.external-sites .views-field-field-url {
	background: url("../images/thin-right-arrow.png") left 3px no-repeat;
}

/* external sites with logos */
.external-sites-with-logos .views-field-field-url a {
	color: #7a539b;
}
.external-sites-with-logos .views-field-field-url {
	background: url("../images/thin-right-arrow.png") left 3px no-repeat;
}

/* accessibility */
#accessTools li#accessListen .icon {
	background: url('../images/listen.png') 0 0 no-repeat;
}

/* external link */
span.ext {
	background: url("../images/external-link-icon.png") right center no-repeat;
}

/* tables */
.field--name-field-fc-section-body table, 
.field--name-body .field--type-text-with-summary table, 
.field--type-text-long table {
	border-top: 1px solid #7a539b;
}

.field--name-field-fc-section-body th, 
.field--name-field-fc-section-body thead th, 
.field--name-field-fc-section-body thead td, 
.field--name-field-fc-section-body tfoot th, 
.field--name-field-fc-section-body tfoot td, 
.field--name-body .field--type-text-with-summary th, 
.field--name-body .field--type-text-with-summary thead th, 
.field--name-body .field--type-text-with-summary thead td, 
.field--name-body .field--type-text-with-summary tfoot th, 
.field--name-body .field--type-text-with-summary tfoot td, 
.field--type-text-long th, 
.field--type-text-long thead th, 
.field--type-text-long thead td, 
.field--type-text-long tfoot th, 
.field--type-text-long tfoot td {
	color: #7a539b; 
}

/* guidance highlight box */
.field--name-field-fc-section-body .guidance, 
.field--name-body .field--type-text-with-summary .guidance, 
.field--type-text-long .guidance {
	background: #f2f2f2; 
	border: 1px solid #7a539b;
}

/* search results */
.current-search-item-text .search-results-heading, 
.current-search-item-text h2.search-results-heading {
	background: #7a539b; 
}
.views-field-zs-view-mode-search-result a,
.views-field-zs-view-mode-search-results-2 a,
.views-field-zs-view-mode-search-results-3 a,
.views-field-zs-view-mode-search-results-4 a,
.views-field-zs-view-mode-search-results-5 a,
.views-field-zs-view-mode-search-results-6 a,
.views-field-zs-view-mode-search-results-7 a,
.views-field-zs-view-mode-search-results-8 a,
.views-field-zs-view-mode-search-results-9 a,
.views-field-zs-view-mode-search-results-10 a {
	color: #7a539b;
}
.views-field-zs-view-mode-search-result,
.views-field-zs-view-mode-search-results-2,
.views-field-zs-view-mode-search-results-3,
.views-field-zs-view-mode-search-results-4,
.views-field-zs-view-mode-search-results-5,
.views-field-zs-view-mode-search-results-6,
.views-field-zs-view-mode-search-results-7,
.views-field-zs-view-mode-search-results-8,
.views-field-zs-view-mode-search-results-9,
.views-field-zs-view-mode-search-results-10 {
	border-bottom: 1px solid #7a539b;
}

/* pager - pagenator */
ul.pager li a {
	color: #7a539b;
}

/* legacy CSS for tables from original old cot site */
.cottable { float: left; width:100%; margin: 2px 0 20px 0;}
.cottable th, .cottable td {font-family: Arial, sans-serif; font-size:85%; padding : 5px; border-right: 1px solid #fff; border-bottom: 1px solid #fff;}
.cottable thead th { color:#666; border-bottom:1px solid #99cc99;}
.cottable tbody th { text-align:left; vertical-align: top; background-color:#c4cdd8; color:#666;}
.cottable td { color:#666; text-align:left; vertical-align: top; border-bottom:1px dotted #99cc99; background: #f5f5f5; border-right: 1px solid #fff; border-bottom: 1px solid #fff;}
.cottable td.lastrow { border-bottom: none}
.cottable td a { color:#006633; text-decoration:none; }
.cottable td a:hover { color:#003300;}
.cottable td ul { margin:0 0 0 14px; padding-left:3px; }
.cottable td ul li{font-size: 130%;}
.cottablenoborder { float: left; width:100%; margin: 2px 0 20px 0;}
.cottablenoborder th, .cottablenoborder td {font-family: Arial, sans-serif; font-size:75%; padding : 5px; border-right: 1px solid #fff; border-bottom: 1px solid #fff;}
.cottablenoborder td a { color:#d56633; text-decoration:none; }
.cottablenoborder td a:hover { color:#d56633; text-decoration:underline; }
.cottablenoborder td ul { margin:0 0 0 14px; padding-left:3px; }

/* foodbase links */
.foodbase-links h2.block__title, 
.foodbase-links h3.block__title, 
.foodbase-links .block__title {
	color: #7a539b;
}
.foodbase-links .views-field-field-url a {
	color: #7a539b;
}
.foodbase-links .views-field-field-url {
	background: url("../images/thin-right-arrow.png") left 3px no-repeat;
}

/* quote box in page sections */
.field--name-field-fc-section-quote {
	background-color: #eaeaea;
	color: #7a539b;
}
.field--name-field-fc-section-quote .field__items {
	background-image: url("../images/quote-top-left.png");
	background-repeat: no-repeat;
	background-position: top left;
}
.field--name-field-fc-section-quote .field__items .field__item {
	background-image: url("../images/quote-bottom-right.png");
	background-repeat: no-repeat;
	background-position: bottom right;
}

/* featured side content blocks - first block */
.featured-side-content li:first-child .field-collection-view {
	border: 1px solid #7a539b;
	background: #7a539b;
}
/* featured side content blocks - second block internal content title */
.featured-side-content .field--name-field-title-side-content-generic {
	color: #7a539b;
}

/* science field  */
.field--name-field-science-data h2,
.field--name-field-science-data h3,
.field--name-field-science-data .field__label {
	color: #7a539b;
}
.field--name-field-science-data {
	border: 1px solid #7a539b;
}

/* science inline class applied using ckeditor */
.science, 
.moreInfo {
	border: 1px solid #7a539b;
}
.science h2, 
.science h3,
.moreInfo h2,
.moreInfo h3 {
	color: #7a539b;
}

/* inline section heading applied using ckeditor */
.inline-section-heading, 
h2.inline-section-heading, 
h3.inline-section-heading {
	background: #8f62b6;
}


/* meetings table - meetings listing */
.meetings-table table caption h2, 
.meetings-table table caption h3 {
  background: #8f62b6;
}
.meetings-table table tr {
  border-bottom: 1px solid #7a539b; 
}


/* webform */
.webfrom-node-template .field--name-body h2 {
	color: #7a539b;
}


/************************* Print styling *******************************/

/* print styling overrides */
@media print {
	/* page title */
	h1 {
		color: #000;
	}
	/* links */
	a,
	.page-section-teaser .node__title a {
		color: #000;
	}
	/* back to top links */
	.section-back-top {
		display: none;
	}
	/* summary field */
	.field--name-field-summary,
	.views-field-field-summary {
		color: #000;
	}
	/* section headings */
	.page-section-heading {
		background: none;
		background-color: transparent;
	}
	/* latest news view title */
	.committee-news h2.block__title, 
	.committee-news h3.block__title {
		background: none;
		background-color: transparent;	}
	/* committee news node title */
	.committee-news .node__title a {
		color: #000;
	}
	.committee-news .views-row {
		border-bottom: none;
	}
	/* pages section subheadings eg related media */
	.page-section-subheading {
		color: #000;
	}
	/* file item links in page sections */
	.page-section-teaser .file-item a {
		color: #000;
	}
	/* table of contents */
	#table-of-contents-links a {
		color: #000;
	}
	/* generic block titles */
	.generic-blocks .field--name-field-title-side-content-generic {
		color: #000;
	}
	/* tables */
	.field--name-field-fc-section-body table, 
	.field--name-body .field--type-text-with-summary table, 
	.field--type-text-long table {
		border-top: 1px solid #000;
	}
	.field--name-field-fc-section-body th, 
	.field--name-field-fc-section-body thead th, 
	.field--name-field-fc-section-body thead td, 
	.field--name-field-fc-section-body tfoot th, 
	.field--name-field-fc-section-body tfoot td, 
	.field--name-body .field--type-text-with-summary th, 
	.field--name-body .field--type-text-with-summary thead th, 
	.field--name-body .field--type-text-with-summary thead td, 
	.field--name-body .field--type-text-with-summary tfoot th, 
	.field--name-body .field--type-text-with-summary tfoot td, 
	.field--type-text-long th, 
	.field--type-text-long thead th, 
	.field--type-text-long thead td, 
	.field--type-text-long tfoot th, 
	.field--type-text-long tfoot td {
		color: #000; 
	}
	/* guidance highlight box */
	.field--name-field-fc-section-body .guidance, 
	.field--name-body .field--type-text-with-summary .guidance, 
	.field--type-text-long .guidance {
		background: none; 
		background-color: transparent;
		border: 1px solid #000;
	}
	/* search results */
	.current-search-item-text .search-results-heading, 
	.current-search-item-text h2.search-results-heading {
		background: #000; 
	}
	.views-field-zs-view-mode-search-result a,
	.views-field-zs-view-mode-search-results-2 a,
	.views-field-zs-view-mode-search-results-3 a,
	.views-field-zs-view-mode-search-results-4 a,
	.views-field-zs-view-mode-search-results-5 a,
	.views-field-zs-view-mode-search-results-6 a,
	.views-field-zs-view-mode-search-results-7 a,
	.views-field-zs-view-mode-search-results-8 a,
	.views-field-zs-view-mode-search-results-9 a,
	.views-field-zs-view-mode-search-results-10 a {
		color: #000;
	}
	.views-field-zs-view-mode-search-result,
	.views-field-zs-view-mode-search-results-2,
	.views-field-zs-view-mode-search-results-3,
	.views-field-zs-view-mode-search-results-4,
	.views-field-zs-view-mode-search-results-5,
	.views-field-zs-view-mode-search-results-6,
	.views-field-zs-view-mode-search-results-7,
	.views-field-zs-view-mode-search-results-8,
	.views-field-zs-view-mode-search-results-9,
	.views-field-zs-view-mode-search-results-10 {
		border-bottom: 1px solid #000;
	}
	/* foodbase links */
	.foodbase-links h2.block__title, 
	.foodbase-links h3.block__title, 
	.foodbase-links .block__title {
		color: #000;
	}
	.foodbase-links .views-field-field-url a {
		color: #000;
	}
	/* science field  */
	.field--name-field-science-data h2,
	.field--name-field-science-data h3,
	.field--name-field-science-data .field__label {
		color: #000;
	}
	.field--name-field-science-data {
		border: 1px solid #000;
	}
	/* science inline class applied using ckeditor */
	.science, 
	.moreInfo {
		border: 1px solid #000;
	}
	.science h2, 
	.science h3,
	.moreInfo h2,
	.moreInfo h3 {
		color: #000;
	}
	/* inline section heading applied using ckeditor */
	.inline-section-heading, 
	h2.inline-section-heading, 
	h3.inline-section-heading {
		background: none;
		background-color: transparent;
	}
	/* meetings table - meetings listing */
	.meetings-table table caption h2, 
	.meetings-table table caption h3 {
	  background: none;
		background-color: transparent;
		border-top: 1px solid #000;
	}
	.meetings-table table tr {
	  border-bottom: 1px solid #000; 
	}
}

/************************* End of Print styling *******************************/







