#block-feedback-form {
  clear: both;
  display: block;
  margin-bottom: 23px;
  position: static;
}

#block-feedback-form .grey-container-block.no-border {
  border: none !important;
}

#block-feedback-form form {
  border: none;
  max-width: initial;
  padding: 17px;
}

#feedback-form-toggle {
  display: none !important;
}

.feedback-entry .field {
  margin-bottom: 5px;
}

.feedback-entry-detail {
  border-bottom: 1px solid #dddddd;
  margin-bottom: 15px;
  padding-bottom: 5px;
}

.feedback-messages table td {
  vertical-align: baseline;
}

#feedback-submit {
  font-size: 120%;
  padding: 8px;
}

.feedback-message {
  font-size: 120%;
  padding: 5px;
}


.feedback-form label {
  margin-top: 14px;
  margin-bottom: 5px;
}
