#admin-menu {
	font-size: 1em;
	font-family: Arial, Verdana, Helvetica, sans-serif;
	li {
		font-size: 1em;	// makes the base font size 10px as per body and prevents nested li fonts from getting larger and larger
		a {
			font-size: 1.2em;
		}
	}
}

