/* adobe reader block
 * requires block class: adobe-reader-block
 * and requires specific markup - see blow commented out code
 */

.adobe-reader-block {
	overflow: hidden;
	border: 1px solid #e8e8e8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
	background: #fff;
	padding: 1em 11px 1em 11px;
	/* we don't need a bock title, but we theme it just in case */
	h2.block__title {
		font-size: 1.5em;
	  color: #5d9711;
	  margin: 0 0 .5em 0;
	}
	img {
		margin: 0;
		border: none;
	}
	p {
		margin-top: 0;
		margin-bottom: 0.5em;
	}
	p.adobe-link {
		margin-top: 0;
		margin-bottom: 0;
	}
}

/*
<p>You may need the free Acrobat Reader to view a pdf</p>
<p class="adobe-link">
<a href="http://get.adobe.com/reader/" target="_blank" title="Opens in a new window">
<img src="/sites/all/themes/site_frontend/images/adobe-reader.gif" alt="Get Adobe Reader">
</a>
</p>
*/

/* print styling overrides */
@media print {
	.adobe-reader-block {
		display: none;
	}
}