/**
 * home page carousel 
 * depends on block class: home-page-carousel and default skin for views slideshow
*/

.home-page-carousel {
	margin-bottom: 20px;
	/* slideshow size */
	.skin-default {
		width: 699px;
		height: 230px;	// 203px image height + 27px controls height
		overflow: hidden;
		position: relative;	// for absolutely positioning to be contained
	}
	/* slide image */
	.views-field-field-slide-image {
		z-index: 1;
		img {
			-webkit-border-radius: 8px 8px 0 0;
			-moz-border-radius: 8px 8px 0 0;
			-o-border-radius: 8px 8px 0 0;
			-ms-border-radius: 8px 8px 0 0;
			border-radius: 8px 8px 0 0;
		}
	}
	/* slide content wrapper */
	.slide-content-wrapper {
		z-index: 2;
		width: 400px;
		max-height: 169px;
		overflow: hidden;
		position: absolute;
		top: 24px;
		left: 0px;
		background-color: #000;	// IE6,7,8
		background-color: rgba(0,0,0,0.65); // 65% transparency
	}
	/* slide content */
	.slide-content {
		padding: 16px;
		font-size: 1em;	// set base sise same as body 1em = 10px
		h2 {
			font-size: 2em;
			margin-bottom: 0.3em;
			color: #fff;
		}
		p {
			font-size: 1.5em;
			margin-bottom: 0.4em;
			color: #fff;
		}
		a {
			font-size: 1.2em;
			text-decoration: none;
			color: #fff;
			display: block;
			padding-left: 12px;
			background-image: url("../images/white-arrow-thin-right.png");
			background-repeat: no-repeat;
			background-position: left 3px;
		}
		a:hover {
			text-decoration: underline;
		}
		a:focus {
			padding: 2px;
			border: 1px solid #ff8000;
		}
	}
	/* slide controls and pager - outer wrapper */
	.views-slideshow-controls-bottom {
		display: block;
		width: 699px;
		height: 27px;
		position: absolute;
		left: 0px;
		bottom: 0px;
		z-index: 90;
		background-color: #000;
		-webkit-border-radius: 0 0 8px 8px;
		-moz-border-radius: 0 0 8px 8px;
		-o-border-radius: 0 0 8px 8px;
		-ms-border-radius: 0 0 8px 8px;
		border-radius: 0 0 8px 8px;
	}
	/* slide controls wrapper */
	.views-slideshow-controls-text {
		z-index: 99;
		width: 69px;
		position: absolute;
		bottom: 0px;
		left: 16px;
		padding: 3px;
		background-color: #000;
		overflow: hidden;
	}
	/* previous button */
	.views-slideshow-controls-text-previous {
		display: block;
		width: 21px;
		height: 21px;
		float: left;
		a {
			display: block;
			width: 20px;
			height: 20px;
			overflow: hidden;
			background-color: transparent;
			background-image: url('../images/carousel-controls/slide-previous.jpg');
			background-repeat: no-repeat;
			background-position: center center;
			text-decoration: none;
			border: 1px solid #000;
			text-indent: -400px;
		}
		a:hover,
		a:focus {
			border: 1px solid #ff8000;
			text-decoration: none;
		}
	}
	/* pause button */
	.views-slideshow-controls-text-pause.views-slideshow-controls-text-status-play {
		display: block;
		width: 21px;
		height: 21px;
		float: left;
		a {
			display: block;
			width: 20px;
			height: 20px;
			overflow: hidden;
			background-color: transparent;
			background-image: url('../images/carousel-controls/slide-pause.jpg');
			background-repeat: no-repeat;
			background-position: center center;
			text-decoration: none;
			border: 1px solid #000;
			text-indent: -400px;
		}
		a:hover,
		a:focus {
			border: 1px solid #ff8000;
			text-decoration: none;
		}
	}
	/* play button */
	.views-slideshow-controls-text-pause.views-slideshow-controls-text-status-pause {
		display: block;
		width: 21px;
		height: 21px;
		float: left;
		a {
			display: block;
			width: 20px;
			height: 20px;
			overflow: hidden;
			background-color: transparent;
			background-image: url('../images/carousel-controls/slide-play.jpg');
			background-repeat: no-repeat;
			background-position: center center;
			text-decoration: none;
			border: 1px solid #000;
			text-indent: -400px;
		}
		a:hover,
		a:focus {
			border: 1px solid #ff8000;
			text-decoration: none;
		}
	}
	/* next button */
	.views-slideshow-controls-text-next {
		display: block;
		width: 21px;
		height: 21px;
		float: left;
		a {
			display: block;
			width: 20px;
			height: 20px;
			overflow: hidden;
			background-color: transparent;
			background-image: url('../images/carousel-controls/slide-next.jpg');
			background-repeat: no-repeat;
			background-position: center center;
			text-decoration: none;
			border: 1px solid #000;
			text-indent: -400px;
		}
		a:hover,
		a:focus {
			border: 1px solid #ff8000;
			text-decoration: none;
		}
	}
	/* slide pager wrapper */
	.views-slideshow-pager-fields {
		z-index: 99;
		width: 500px;
		position: absolute;
		bottom: 0px;
		left: 99px;
		padding: 3px;
		overflow: hidden;
		background-color: #000;
		text-align: center;
	}
	/* pager items */
	.views-slideshow-pager-field-item  {
		display: block;
		float: left;
		width: 21px;
		height: 21px;
		margin: 0;
		a {
			display: block;
			width: 20px;
			height: 20px;
			overflow: hidden;
			background-color: transparent;
			background-image: url('../images/carousel-controls/slide-pager-bullet-default.jpg');
			background-repeat: no-repeat;
			background-position: center center;
			text-decoration: none;
			border: 1px solid #000;
			text-indent: -400px;
		}
		a:hover,
		a:focus {
			border: 1px solid #ff8000;
			text-decoration: none;
		}
	}
	/* active pager item */
	.views-slideshow-pager-field-item.active {
		a {
			background-image: url('../images/carousel-controls/slide-pager-bullet-active.jpg');
			background-repeat: no-repeat;
			background-position: center center;
		}
	}
}  // end home-page-carousel

/* for mobile */
@include breakpoint($mobile) {
	.home-page-carousel {
		display: none;
	}
}

/* print styling overrides */
@media print {
	.home-page-carousel {
		display: none;
	}
}