/* contacts listing
 * requires block class: contact-glossary
 */

.contact-glossary {
	/* glossary alphabet a-z */
	ul.contacts_alphabet {
		padding-left: 0;
		margin-left: 0;
		margin-bottom: 1.2em;
		overflow: hidden;
		li {
			float: left;
			list-style-type: none;
			padding: 0 5px 5px 0;
			font-size: 1.4em;
			a {
				display: block;
				text-decoration: none;
				color: #fff;
				background: #5d9711;
				font-weight: bold;
				text-align: center;
				min-width: 2.1em;
				padding: 8px 8px;
				-webkit-border-radius: 10px;
				-moz-border-radius: 10px;
				-ms-border-radius: 10px;
				-o-border-radius: 10px;
				border-radius: 10px;
				line-height: 1.2em;
		}
			a:hover {
				text-decoration: underline;
			}
		}
	}
	.view-content {
		clear: left;
		/* hide empty h3 spacers */
		h3 {
			display: none;	// hide h3 outside rows
		}
		/* alphabet section headings */
		h2 {
			display: block;
			margin: 0 0 1em 0;
			padding: .3em 11px;
			font-size: 1.4em;
			font-weight: bold;
			color: #fff;
			background: #5d9711;
		}
		.views-row {
			/* category title */
			h3,
			h3.node__title {
				display: block;	// show h3 within rows
				font-size: 1.2em;
				line-height: 1.5em;
				margin-bottom: 0.5em;
				padding: .3em 11px;
				font-size: 1.4em;
				font-weight: bold;
				color: #333;
				background: #f0f0f0;
			}
			/* contact content */
			h4,
			h4.node__title {
				font-size:1.2em;
				line-height: 1.5em;
				margin-bottom: 0.5em;
			}
			p {
				margin-bottom: 0.5em;
			}
			.field--name-field-phone-number,
			.field--name-field-fax {
				font-size: 1.2em;
				line-height: 1.5em;
				margin-bottom: 0.5em;
			}
			.node__content {
				margin-bottom: 15px;
				padding-left: 11px;
				padding-right: 11px;
			}
		}
	}
}




