/* consultation page - consultation content type */
.field--name-field-consultations-contact-name,
.field--name-field-consultation-contact-add,
.field--name-field-consultation-contact-tel,
.field--name-field-consultation-contact-fax,
.field--name-field-consultation-contact-email,
.field--name-field-consultation-dates,
.field--name-field-consultation-state,
.field--name-field-data-protection,
.field--name-field-consultation-pack .field__label {
	font-size: 1.2em;                                               
  line-height: 1.4em; 
  p, ul, li, ol {
	font-size: 1em;	// same font size as parent
	line-height: 1.4em;
	}
}
.field--name-field-consultation-pack .field__label,
.field--name-field-consultation-pack label {
	margin-bottom: 0.8em;
	display: block;
}
.field--name-field-consultation-pack .file-item {
	font-size: 1.3em;
	font-weight: normal;
	margin-bottom: 0.5em;
	font-size: 1.3em;
}
/* these are file fields get their theming from the base styles for file field within its content */
.field--name-field-consultation-pack,
.field--name-field-consultation-summary {
	font-size: 1em;	// make same as body default
}
/* consultations summary */
.field--name-field-consultation-summary {
	margin-bottom: 1.3em;
}
/* contact details */
.node-type-consultation .group-contact-details {
	margin-bottom: 1.3em;
}
/* section headings for consultation main content area */
.node-type-consultation {
	#main-content {
		.node h2,
		h2.block__title {
			display: block;
			margin: 0 0 1em 0;
			padding: .3em 11px;
			font-size: 1.4em;
			font-weight: bold;
			color: #fff;
			background: #5d9711;
			clear: both;
		}
		/* toc block */
		#block-toc-node-toc-node {
			clear: both;
			h2.block__title {
				color: #333;
				padding: 0;
				background: none;
				font-size: 1.5em;
				line-height: 1.2em;
				font-weight: bold;
				margin: 0 0 .45em 0;
			}
		}
	}
}
/* some spacng at the bottom of groups and blocks */
.node-type-consultation {
	#main-content {
		.field-group-div,
		.block {
			padding-bottom: 15px;
			overflow: hidden;
		}
		.group-contact-details.field-group-div {
			padding-bottom: 5px;
		}
	}
}

/* overrides for consultation and summary of responses file-blocks 
 * requires block class: file-block
 * implementation of styling for file-block, see _file_block.scss
 */
.node-type-consultation {
	#main-content .file-block {
		h2.block__title {
			display: block;
			margin: 0 0 0.8em 0;
			padding: 0;
			color: #006f51;
			background: none;
			font-size: 1.3em; 
			line-height: 1.4em;
			margin-bottom: 0;
			font-weight: bold;
		}
	}
}


