/**
 * External sites block (the one without the logos)
 * Dependant on block class: external-sites
 */
.external-sites {
	overflow: hidden;
	border: 1px solid #e8e8e8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
	.custom-block-inner {
		background: #fff;
		padding: 1em 11px 1em 11px;
		/* gradient */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMyJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMGYwZjAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,#fff 0,#fff 32%,#f0f0f0 100%);
		background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(32%,#fff),color-stop(100%,#f0f0f0));
		background: -webkit-linear-gradient(top,#fff 0,#fff 32%,#f0f0f0 100%);
		background: -o-linear-gradient(top,#fff 0,#fff 32%,#f0f0f0 100%);
		background: -ms-linear-gradient(top,#fff 0,#fff 32%,#f0f0f0 100%);
		background: linear-gradient(top,#fff 0,#fff 32%,#f0f0f0 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#f0f0f0',GradientType=0);
	}
	/* block title */
	h2.block__title {
		font-size: 1.5em;
	  color: #5d9711;
	  margin: 0 0 .5em 0;
	}
	/* links */
	.views-field-field-url {
		font-size: 1.2em;
		padding-left: 10px;
		background-image: url('../images/green-arrow-thin-right.png');
		background-repeat: no-repeat;
		background-position: left 3px;
		margin-bottom: 2px;
		a {
			text-decoration: none;
			color: #006f51;
		}
		a:hover {
			text-decoration: underline;
		}
	}
	.views-field-field-subtitle {
		font-size: 1.2em;
		padding-left: 10px;
	}
	.views-row {
		margin-bottom: 0.834em;	// 1.2em parent x 0.834em = about 10px
	}
	.views-row.views-row-last {
		margin-bottom: 0;
	}
	.external-link-disclaimer {
		font-size: 1em;
		line-height: 1.2em;
		color: #666;
		display: block;
		padding-top: 9px;
	}
}

/**
 * External links block (the one with the logos)
 * Dependant on block class: external-sites-with-logos
 */
.external-sites-with-logos {
	overflow: hidden;
	border: 1px solid #e8e8e8;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
	border-radius: 10px;
	background: #fff;
	padding: 1em 11px 1em 11px;
	/* block title */
	h2.block__title {
		font-size: 1.5em;
	  color: #5d9711;
	  margin: 0 0 .5em 0;
	  display: none;	// design does not need a title but the semantics does need the h2. the view groups are h3 thus we must have and h2
	}
	/* links */
	.views-field-field-url {
		font-size: 1.2em;
		padding-left: 10px;
		background-image: url('../images/green-arrow-thin-right.png');
		background-repeat: no-repeat;
		background-position: left 3px;
		margin-bottom: 2px;
		a {
			text-decoration: none;
			color: #006f51;
		}
		a:hover {
			text-decoration: underline;
		}
	}
	.views-field-field-subtitle {
		font-size: 1.2em;
		padding-left: 10px;
	}
	.views-row {
		margin-bottom: 0.834em;	// 1.2em parent x 0.834em = about 10px
	}
	.views-row.views-row-last {
		margin-bottom: 1em;
	}
	.views-row.views-row-last:last-child {
		margin-bottom: 0;
	}
	.view-content {
		h2, h3 {
			margin-bottom: 0;
			font-size: 1em; // set base as 1em = 10px
		}
	}
}


/* Foodbase links
 * Requires block class: foodbase-links
 */
.foodbase-links {
	/* links */
	.views-field-field-url {
		font-size: 1.2em;
		padding-left: 10px;
		background-image: url('../images/green-arrow-thin-right.png');
		background-repeat: no-repeat;
		background-position: left 3px;
		margin-bottom: 2px;
		a {
			text-decoration: none;
			color: #006f51;
		}
		a:hover {
			text-decoration: underline;
		}
	}
	.views-field-field-subtitle {
		font-size: 1.2em;
		padding-left: 10px;
	}
	.views-row {
		margin-bottom: 0.834em;	// 1.2em parent x 0.834em = about 10px
	}
	.views-row.views-row-last {
		margin-bottom: 0;
	}
}
/* foodbase links block styling */
.foodbase-links {
	overflow: hidden;
	border: 1px solid #c4c4c4;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
	margin-bottom: 18px;
	h2.block__title,
	h3.block__title,
	.block__title, {
		display: block;
		margin: 0 0 0.7em 0;
		padding: 12px 10px 0px 10px;
		color: #5d9711;
		background: none;
		font-size: 1.4em; 
		line-height: 1.3em;
		font-weight: bold;
	}
	.custom-block-inner {
		overflow: hidden;
		background: #fff;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ2JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,#fff 0,#fff 46%,#eaeaea 100%);
		background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(46%,#fff),color-stop(100%,#eaeaea));
		background: -webkit-linear-gradient(top,#fff 0,#fff 46%,#eaeaea 100%);
		background: -o-linear-gradient(top,#fff 0,#fff 46%,#eaeaea 100%);
		background: -ms-linear-gradient(top,#fff 0,#fff 46%,#eaeaea 100%);
		background: linear-gradient(top,#fff 0,#fff 46%,#eaeaea 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#eaeaea',GradientType=0);
	}
	.custom-block-content-inner {
		padding: 0px 10px 12px 10px;
	}
}