/* Feature blocks are: Business and industry, Enforcement and regulation, Science and research 
 * requires block classes: feature-block green-block and for the last block we also use the class: last
 * block styling comes from base styles and block content styling comes from this style sheet.
 */

.feature-block {
	width: 225px;
	margin-right: 12px;
	margin-bottom: 40px;
	overflow: hidden;
	float: left;
	/* feature image */
	span.image-wrapper {
		display: block;
		position: relative;
		width: 225px;
		height: 95px;
		overflow: hidden;
	}
	img {
		margin-bottom: 11px;
	}
	span.image-mask {
		display: block;
		width: 225px;
		height: 95px;
		position: absolute;
		top: 0;
		left: 0;
		background: url('../images/home-page-image-mask.png') 0 0 no-repeat;
	}
	/* view footer */
	.view-footer {
		padding-top: 0.5em;
		margin-left: 10px;
		margin-right: 10px;
	}
	/* links list */
	.block__content ul {
		margin: 0;
		padding: 0;
		li {
			margin: 0 0 0.3em 0;
			padding: 0 0 0 8px;
			list-style: none;
			list-style-type: none;
			list-style-image: none;
			a {
				padding-left: 14px;
				display: block;
				text-decoration: none;
				background-image: url("../images/orange-arrow-thin-right.png");
				background-position: left 3px;
				background-repeat: no-repeat;
			}
			a:hover {
				text-decoration: underline;
			}
		}
	}
}
.l-content .feature-block.green-block {
	margin-bottom: 40px;
}
/* no margin on last feature block */
.feature-block.last {
	margin-right: 0px;
}
/* block styling overrides */
.feature-block.green-block {
	h2.block__title {
		padding: .3em 10px;
	}
	.block__content {
		padding: 0 0 .3em 0;
	}
}

/* for mobile */
@include breakpoint($mobile) {
	.l-content .feature-block.green-block {
		margin-bottom: 11px;
	}
}