/* Feature blocks are: Business and industry, Enforcement and regulation, Science and research 
 * requires block classes: feature-block green-block and for the last block we also use the class: last
 * block styling comes from base styles and block content styling comes from this style sheet.
 */

.feature-block {
	width: 225px;
	margin-right: 12px;
	margin-bottom: 40px;
	overflow: hidden;
	float: left;
	/* feature image */
	span.image-wrapper {
		display: block;
		position: relative;
		width: 225px;
		height: 95px;
		overflow: hidden;
	}
	/* image mask overay - for curved bottom */
	span.image-mask {
		overflow: hidden;
		display: block;
		width: 225px;
		height: 95px;
		position: absolute;
		top: 0;
		left: 0;
		background: url('../images/home-page-image-mask.png') 0 0 no-repeat;
	}
	/* view footer */
	.view-footer {
		padding-top: 0.5em;
		margin-left: 10px;
		margin-right: 10px;
	}
	/* links list */
	.block__content ul {
		display: block;
		margin: 8px 0 0 0;
		padding: 0;
		li {
			margin: 0 0 0.3em 0;
			padding: 0 0 0 8px;
			list-style: none;
			list-style-type: none;
			list-style-image: none;
			a {
				padding-left: 14px;
				display: block;
				text-decoration: none;
				background-image: url("../images/orange-arrow-thin-right.png");
				background-position: left 3px;
				background-repeat: no-repeat;
			}
			a:hover {
				text-decoration: underline;
			}
		}
	}
}

/* no right margin on last feature block */
.feature-block.last {
	margin-right: 0px;
}

/* block styling */
.feature-block {
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	-o-border-radius: 9px;
	-ms-border-radius: 9px;
	border-radius: 9px;
	h2.block__title {
		font-size: 1.5em;
		color: #fff;
		padding: .3em 10px;
		margin: 0;
		-moz-border-radius: 9px 9px 0 0;
		-webkit-border-radius: 9px 9px 0 0;
		-o-border-radius: 9px 9px 0 0;
		-ms-border-radius: 9px 9px 0 0;
		border-radius: 9px 9px 0 0;
		background: #3b9356;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,#3b9356 0,#02684a 100%);
		background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#3b9356),color-stop(100%,#02684a));
		background: -webkit-linear-gradient(top,#3b9356 0,#02684a 100%);
		background: -o-linear-gradient(top,#3b9356 0,#02684a 100%);
		background: -ms-linear-gradient(top,#3b9356 0,#02684a 100%);
		background: linear-gradient(top,#3b9356 0,#02684a 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b9356',endColorstr='#02684a',GradientType=0);
	}
	.block__content {
		overflow: hidden;
		padding: 0 0 .3em 0;
		background: #dde9c9;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,#ffffff 0,#dde9c9 100%);
		background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#dde9c9));
		background: -webkit-linear-gradient(top,#ffffff 0,#dde9c9 100%);
		background: -o-linear-gradient(top,#ffffff 0,#dde9c9 100%);
		background: -ms-linear-gradient(top,#ffffff 0,#dde9c9 100%);
		background: linear-gradient(top,#ffffff 0,#dde9c9 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#dde9c9',GradientType=0);
		-moz-border-radius: 0 0 9px 9px;
		-webkit-border-radius: 0 0 9px 9px;
		-o-border-radius: 0 0 9px 9px;
		-ms-border-radius: 0 0 9px 9px;
		border-radius: 0 0 9px 9px;
	}
}

.l-content .feature-block {
	margin-bottom: 40px;
}

/* for mobile */
@include breakpoint($mobile) {
	.l-content .feature-block {
		margin-bottom: 11px;
	}
}
