/* Feature blocks are: Business and industry, Enforcement and regulation, Science and research 
 * requires block classes: feature-block green-block
 * block styling comes from base styles and block content styling comes from this style sheet.
 */

.feature-block {
	/* feature image */
	img {
		margin-bottom: 5px;
	}
	/* view footer */
	.view-footer {
		margin-top: 0.5em;
		padding-top: 0.5em;
		margin-left: 10px;
		margin-right: 10px;
		border-top: 1px solid #5d9711;
		font-size: 1.2em; 
		line-height: 1.4em;
		margin-bottom: 5px;
		p {
			font-size: 1em;	// will be same as parent then ie 1.2em
			margin-bottom: 0.5em;
		}
	}
	/* more link */
	a.fsa-more-link-orange-arrow {
		font-weight: bold;
	}
}
/* block styling overrides */
.feature-block.green-background {
	h2.block__title {
		padding: .3em 10px;
	}
	.block__content {
		padding: 0 0 .3em 0;
	}
}