/**
 *	See base/_field_collections.scss for implementation of block styling for this field collection
 */
.field--name-field-fc-related-items-heading {
	font-size: 1.4em;
	color: #5d9711;
	font-weight: bold;
	margin-bottom: 0.5em;
	h1, h2, h3, h4, h5, h6 {
		font-size: 1em;	// force the size to the one specified for this field above
		margin-bottom: 0;
	}
}
.field--name-field-fc-related-items {
	font-size: 1em;	// sets base font size to 10px
	line-height: 1.4em;
	margin-bottom: 12px;
	h2.node__title {
		font-size: 1.4em; 
		line-height: 1.4em;
		margin-bottom: 0;
		font-weight: normal;
	}
	.node__title {
		font-weight: normal;
		a {
			text-decoration: none;
			color: #006f51;
		}
		a:hover {
			text-decoration: underline;
		}
	}
	.field--name-field-subtitle {
		font-size: 1.2em; 
		line-height: 1.4em;
	}
	.field__item {
		margin-bottom: 0.5em;
	}
}
