/**
 *	See base/_bocks.scss for implementation of block styling for this field collection
 */
.field--name-field-fc-related-items-heading {
	font-size: 1.4em;
	color: #5d9711;
	margin-bottom: 0.5em;
	h1, h2, h3, h4, h5, h6 {
		font-size: 1em;	// force the size to the one specified for this field above
		margin-bottom: 0;
	}
}
.field--name-field-fc-related-items {
	margin-bottom: 12px;
}
