/**
 * Footer buttons
 * Dependant on menu bock and block class: footer-buttons
 */

.footer-buttons {
	/* menu block block does not seem to respect <none> in title */
	h2.block__title {
		display: none;
	}
	ul.menu {
		list-style: none;
		margin: 0;
		padding: 0;
		li {
			font-size: 1em;
			list-style: none;
			float: left;
			margin: 0 0 10px 10px;
			a {
				display: block;
				width: 77px;
				height: 31px;
				text-indent: -500px;
			}
			a[href="http://www.nhs.uk"],
			a[href="https://www.nhs.uk"] {
				background: url('../images/footer-buttons/nhschoices-default.png');
				background-repeat: no-repeat;
				background-position: center center;
			}
			a[href="http://www.nhs.uk"]:hover,
			a[href="https://www.nhs.uk"]:hover {
				background: url('../images/footer-buttons/nhschoices-hover.png');
				background-repeat: no-repeat;
				background-position: center center;
			}
			a[href="http://www.gov.uk"],
			a[href="https://www.gov.uk"] {
				background: url('../images/footer-buttons/govuk-default.png');
				background-repeat: no-repeat;
				background-position: center center;
			}
			a[href="http://www.gov.uk"]:hover,
			a[href="https://www.gov.uk"]:hover {
				background: url('../images/footer-buttons/govuk-hover.png');
				background-repeat: no-repeat;
				background-position: center center;
			}
		}
	}
	/* override external links module css */
	span.ext {
		display: none;
	}
}