/* FSA in the nations block on home page
 * depends on custom html in the block
 * requires bock class: fsa-in-the-nations
 */

.fsa-in-the-nations {
  
  // Hide the block subject for now. We'll remove it when we're ready.
  h2 {
    display: none;
  }
  
	clear: both;
	.block__content {
		a {
			text-decoration: none;
		}
		a:hover {
			text-decoration: underline;
		}
		h3 {
      background-color: #888;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,#be1627 6%,#a70415 100%);
		background: -webkit-gradient(linear,left top,left bottom,color-stop(6%,#be1627),color-stop(100%,#a70415));
		background: -webkit-linear-gradient(top,#be1627 6%,#a70415 100%);
		background: -o-linear-gradient(top,#be1627 6%,#a70415 100%);
		background: -ms-linear-gradient(top,#be1627 6%,#a70415 100%);
		background: linear-gradient(top,#be1627 6%,#3e3e3e 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#be1627',endColorstr='#a70415',GradientType=0);      
      @include border-radius(8px);
      color: #fff;
			font-size: 1em;
			font-weight: bold;
			//padding-top: 5px;
      padding: 5px 11px;
			margin: 0 0 0.5em 0;
      width: 100%;
			a img {
        display: none; // Temporarily hide
				position: absolute;
				top: 12px;
				right: 0;
				border: 0;
			}
			a {
				color: #fff;
        font-size: 1.4em;	// was 1.2em
				line-height: 1.4em;
			}
		}
		ul {
			list-style: none;
			margin: 0 0 1.2em 0;
			padding: 0;
			font-size: 1em;
			display: block;
			clear: both;
			overflow: hidden;
		}
		li {
			margin-left: 0;
			//padding-bottom: 6px;
			//margin-bottom: 6px;
			//border-bottom: 1px solid #c9c9c9;
			font-size: 1em;
		}
		.scotland {
      display: none; // Hide Scotland for now.
			position: relative;
			min-height: 75px;
			//padding-right: 50px;
		}
		.northern-ireland {
			position: relative;
			min-height: 75px;
			//padding-right: 50px;
		}
		.wales {
			position: relative;
			min-height: 61px;
			//padding-right: 50px;
			border-bottom: none;
			margin-bottom: 0;
			padding-bottom: 0;
		}
		ul.nation-links {
			//margin: 0 4px 0 0;
      margin: 20px;
			clear: both;
			li {
				padding-bottom: 0;
				margin-bottom: 5px;
				min-height: 0;
				border: none;
				//float: left;
				a {
					display: block;
					//border-right: 1px solid #006f51;
					font-size: 1.4em;	// was 1.1em
          font-weight: bold;
					line-height: 1em;
					margin-right: 4px;
					padding-right: 4px;
				}
			}
			li.last a {
				border-right: none;
			}
		}
	}	 // end .block_content
}

.fsa-in-the-nations,
.fsa-in-the-nations.grey-block {
		border-color: #c9c9c9;
	.block__content {
    padding: 0 !important;
		//padding-top: 0.5em;
		//padding-bottom: 0;
		min-height: 240px;
	}
}

.l-region--sidebar-second .fsa-in-the-nations.block {
	margin-bottom: 20px;
}

/* Structure of the block html and content

<div class="section">
<ul>
	<li class="scotland">
	<h3><a href="/scotland/">FSA in Scotland<img alt="FSA in Scotland icon" src="/sites/all/themes/site_frontend/images/icons/fsa-scotland.gif" /></a></h3>

	<ul class="nation-links">
		<li class="first"><a href="/scotland/news-updates/news/">News</a></li>
		<li><a href="/scotland/scotnut/">Nutrition</a></li>
		<li class="last"><a href="/scotland/safetyhygienescot/">Safety</a></li>
	</ul>
	</li>
	<li class="northern-ireland">
	<h3><a href="/northern-ireland/">FSA in Northern Ireland<img alt="FSA in Northern Ireland icon" src="/sites/all/themes/site_frontend/images/icons/fsa-northern-ireland.gif" /></a></h3>

	<ul class="nation-links">
		<li class="first"><a href="/northern-ireland/news-updates/news/">News</a></li>
		<li><a href="/northern-ireland/safetyhygieneni/">Safety</a></li>
		<li class="last"><a href="/northern-ireland/nutritionni/">Nutrition</a></li>
	</ul>
	</li>
	<li class="wales">
	<h3><a href="/wales/">FSA in Wales<img alt="FSA in Wales icon" src="/sites/all/themes/site_frontend/images/icons/fsa-wales.gif" /></a></h3>

	<ul class="nation-links">
		<li class="first"><a href="/wales/news-updates/news/">News</a></li>
		<li><a href="/wales/about-fsa-wales/cymru/">Cymru</a></li>
		<li class="last"><a href="/wales/safetyhygienewales/">Safety</a></li>
	</ul>
	</li>
</ul>
</div>

*/


/* print styling overrides */
@media print {
	.fsa-in-the-nations {
		display: none;
	}
}