/**
 * Requires a block class: generic-blocks
 */
.generic-blocks {
	 /* content title per generic block instance */
	 .field--name-field-title-side-content-generic {
		  font-size: 1.5em;
		  color: #4b800d;
		  padding: .5em 11px .15em 11px;
		  margin: 0;
		  h1, h2, h3, h4, h5, h6 {
			  padding: 0;
			  margin: 0;
			  font-size: 1em; // ie use size applied to the parent field - works out to 1.5em
			}
	 }
	/* content main text body per generic block instance */
	.field--name-field-body-side-content-generic {}
	/* wrapper per generic block field collection instance */
	.field-collection-view {
		 -webkit-border-radius: 8px;
		 -moz-border-radius: 8px;
		 -o-border-radius: 8px;
		 -ms-border-radius: 8px;
		 border-radius: 8px;
		 background: #f5f8f1;
		 padding: .5em 11px .3em 11px;
		 margin-bottom: 11px;
		 overflow: hidden;
		 clear: both;
		img {
			max-width: 100%;
			height: auto;
		}
	}
}
