.global-search {
	margin: 0;
	padding: 10px;
	background: #e9e9e9;
	border: 2px solid #fff;
	border-top: none;
	-moz-border-radius: 0 0 10px 10px;			// old site uses 26px for search border radius
	-webkit-border-radius: 0 0 10px 10px;
	-o-border-radius: 0 0 10px 10px;
	-ms-border-radius: 0 0 10px 10px;
	border-radius: 0 0 10px 10px;
	behavior: url(/sites/all/themes/site_frontend/libraries/pie/PIE.htc);
	input.form-text {
		padding: 4px;
		border: 1px solid #ccc;
		vertical-align: middle;
		font-size: 1.2em;
		width: 170px;
		margin-left: 2px;
		/*
		-moz-border-radius: 5px 0 0 5px;
		-webkit-border-radius: 5px 0 0 5px;
		-o-border-radius: 5px 0 0 5px;
		-ms-border-radius: 5px 0 0 5px;
		border-radius: 5px 0 0 5px;
		*/
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-o-border-radius: 5px;
		-ms-border-radius: 5px;
		border-radius: 5px;
		behavior: url(/sites/all/themes/site_frontend/libraries/pie/PIE.htc);
	}
	input.form-submit {
		display: inline-block;
		*display: inline;
		zoom: 1;
		margin: 0;
		padding: 4px;
		width: 24px;
		border: 1px solid #ccc;
		border-left: none;
		vertical-align: middle;
		font-size: 1.2em;
		/*
		-moz-border-radius: 0 5px 5px 0;
		-webkit-border-radius: 0 5px 5px 0;
		-o-border-radius: 0 5px 5px 0;
		-ms-border-radius: 0 5px 5px 0;
		border-radius: 0 5px 5px 0;
		background: #f57622;
		background: -moz-linear-gradient(top,#f57622 0,#ffb358 100%);
		background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#f57622),color-stop(100%,#ffb358));
		background: -webkit-linear-gradient(top,#f57622 0,#ffb358 100%);
		background: -o-linear-gradient(top,#f57622 0,#ffb358 100%);
		background: -ms-linear-gradient(top,#f57622 0,#ffb358 100%);
		background: linear-gradient(top,#f57622 0,#ffb358 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f57622',endColorstr='#ffb358',GradientType=0);
		*/
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-o-border-radius: 5px;
		-ms-border-radius: 5px;
		border-radius: 5px;
		background-color: #fa953e; // #fb9d44;
		background-image: url("../images/search.png");
		background-repeat: no-repeat;
		background-position: 5px 3px;
		text-indent: -9999px;
		&:hover {
			background-color: #f67f2a; // #f67d28;
		}
	}
}
/* mobile layout */
@include breakpoint($mobile) {
	.global-search {
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		-o-border-radius: 10px;
		-ms-border-radius: 10px;
		border-radius: 10px;
		behavior: url(/sites/all/themes/site_frontend/libraries/pie/PIE.htc);
		input.form-text {
			width: 90%;
		}
	}
}