/* banner image on landing pages */
.field--name-field-banner-image img {
	margin-bottom: 17px;
}

/* mobile view */
@include breakpoint($mobile) {
	.field--name-field-banner-image {
		display: none;
	}
}

/* print styling overrides */
@media print {
	.field--name-field-banner-image {
		display: none;
	}
}
