/* depends on block class: language-switcher */

.language-switcher {
	width: 90px;
	height: 25px;
	float: right;
	padding: 0;
	margin-bottom: 4px;
	border: 1px solid #02684a;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	-o-border-radius: 3px;
	-ms-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.1);
	-webkit-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.1);
	-o-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.1);
	-ms-box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.1);
	box-shadow: 1px 1px 2px 2px rgba(0,0,0,0.1);
	.custom-block-content-inner {
		background: #398e6e;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxNSUiIHN0b3AtY29sb3I9IiMzOThlNmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1NSUiIHN0b3AtY29sb3I9IiMwMjY4NGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,#398e6e 15%,#02684a 55%);
		background: -webkit-gradient(linear,left top,left bottom,color-stop(15%,#398e6e),color-stop(55%,#02684a));
		background: -webkit-linear-gradient(top,#398e6e 15%,#02684a 55%);
		background: -o-linear-gradient(top,#398e6e 15%,#02684a 55%);
		background: -ms-linear-gradient(top,#398e6e 15%,#02684a 55%);
		background: linear-gradient(top,#398e6e 15%,#02684a 55%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#398e6e',endColorstr='#02684a',GradientType=0);
	}
	a {
		display: block;
		padding-top: 5px;
		padding-left: 36px;
		padding-bottom: 7px;
		color: #fff;
		font-size: 1.1em;
		font-weight: normal;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
	a.cy {
		background-image: url('../images/flag-cy.gif');
		background-repeat: no-repeat;
		background-position: 5px 4px;
	}
	a.en {
		background-image: url('../images/flag-en.gif');
		background-repeat: no-repeat;
		background-position: 5px 4px;
	}
}
