/* meetings table
 * requires block class: meetings-table
 */
.meetings-table {
	table {
		width: 100%;
		margin-bottom: 20px;
		caption {
			margin: 0;
			h2, h3 {
				display: block;
				margin: 0;
				padding: 0.64em 11px;
				font-size: 1.4em;
				font-weight: bold;
				color: #fff;
				background: #5d9711;
				overflow: hidden;
				text-align: left;
			}
		}
		td {
			padding-top: 0.75em;
			padding-bottom: 0.75em;
			width: 25%;
		}
		tr {
			border-bottom: 1px solid #5d9711;
		}
	}
	.views-field-field-publication-date {
		font-weight: bold;
	}
}

/* print styling overrides */
@media print {
	.meetings-table {
		table {
			caption {
				h2, h3 {
					color: #000;
					background: transparent;
					border-top: 1px solid #000;
					border-bottom: 1px solid #000;
				}
			}
			tr {
				border-bottom: 1px solid #000;
			}
		}
	}
}