.nation-scotland {
	background: #79adf6;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzc5YWRmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMTViYTciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,#79adf6 1%,#015ba7 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(1%,#79adf6),color-stop(100%,#015ba7));
	background: -webkit-linear-gradient(top,#79adf6 1%,#015ba7 100%);
	background: -o-linear-gradient(top,#79adf6 1%,#015ba7 100%);
	background: -ms-linear-gradient(top,#79adf6 1%,#015ba7 100%);
	background: linear-gradient(top,#79adf6 1%,#015ba7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79adf6',endColorstr='#015ba7',GradientType=0);
}
.nation-northern-ireland {
	background: #851074;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzg1MTA3NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM2MjAyNTQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,#851074 0,#620254 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#851074),color-stop(100%,#620254));
	background: -webkit-linear-gradient(top,#851074 0,#620254 100%);
	background: -o-linear-gradient(top,#851074 0,#620254 100%);
	background: -ms-linear-gradient(top,#851074 0,#620254 100%);
	background: linear-gradient(top,#851074 0,#620254 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#851074',endColorstr='#620254',GradientType=0);
}
.nation-wales {
	background: #c11d2d;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iI2MxMWQyZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNhMzAxMTAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,#c11d2d 1%,#a30110 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(1%,#c11d2d),color-stop(100%,#a30110));
	background: -webkit-linear-gradient(top,#c11d2d 1%,#a30110 100%);
	background: -o-linear-gradient(top,#c11d2d 1%,#a30110 100%);
	background: -ms-linear-gradient(top,#c11d2d 1%,#a30110 100%);
	background: linear-gradient(top,#c11d2d 1%,#a30110 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c11d2d',endColorstr='#a30110',GradientType=0);
}

.nation-scotland,
.nation-northern-ireland,
.nation-wales {
	margin-bottom: 10px;
	padding: 4px 12px;
	h1 {
		margin: 0;
		padding: 0;
		font-size: 2.8em;
		line-height: 1.2em;
		font-weight: normal;
		color: #fff;
	}
}
