ul.pager {
	display: block;
	margin-top: 20px;
	margin-bottom: 1em;
	li {
		font-weight: bold;
		font-size: 1.2em;
		line-height: 1.4em;
		a {
			color: #5d9711;
			font-weight: normal;
			text-decoration: none;
		}
		a:hover {
			text-decoration: underline;
		}
	}
	li.pager__item--current {
		color: #333;
	}
	li.pager__item--first,
	li.pager__item--previous,
	li.pager__item--next,
	li.pager__item--last {
		a {
			font-weight: bold;
			text-decoration: none;
		}
		a:hover {
			text-decoration: underline;
		}
	}
}

/* print styling overrides */
@media print {
	ul.pager {
		display: none;
	}
}