.current-search-item-text {
	.result-count {
		color: #666;
		display: block;
		font-weight: normal;
		padding: 3px 0;
		font-size: 1.2em;
		line-height: 1.4em;
		margin-bottom: 12px;
	}
	.search-results-heading,
	h2.search-results-heading {
		display: block;
		margin: 0 0 1em 0;
		padding: .3em 11px;
		font-size: 1.4em;
		font-weight: bold;
		color: #fff;
		background: #5d9711;
	}
}

.views-field-zs-view-mode-search-result,
.views-field-zs-view-mode-search-results-2,
.views-field-zs-view-mode-search-results-3,
.views-field-zs-view-mode-search-results-4,
.views-field-zs-view-mode-search-results-5,
.views-field-zs-view-mode-search-results-6,
.views-field-zs-view-mode-search-results-7,
.views-field-zs-view-mode-search-results-8,
.views-field-zs-view-mode-search-results-9,
.views-field-zs-view-mode-search-results-10 {
	border-bottom: 1px solid #5d9711;
	padding: 7px 0 7px 0;
	li {
		font-size: 1em; // set base as 10px just in case
	}
	p {
		font-size: 1em;	// let font be inherited from parent item
	}
	h1.node__title,
	h2.node__title,
	h3.node__title,
	h1, h2 {
		font-size: 1.4em;
		line-height: 1.3em;
		margin-bottom: .4em;
	}
	a {
		color: #006f51;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
	/* setup defualt formatting for content */
	.node__content .field,
	.node .content .field {
		font-size: 1.2em;
		margin-bottom: .6em;
		line-height: 1.5em;
		color: #333;
		li, p {
			font-size: 1em;	// inherit font size of parent container ie. 1.2 em
		}
	}
	/* override formatting of summary */
	.field--name-field-summary {
		font-size: 1.2em;
		margin-bottom: .6em;
		line-height: 1.5em;
		color: #333;
	}
	/* override formatting of subtitle */
	.field--name-field-subtitle {
		font-size: 1.2em;
		margin-bottom: .6em;
		line-height: 1.5em;
		color: #333;
	}
	/* override formatting of last updated */
	.field--name-field-updated {
		font-size: 1.1em;
		margin-bottom: 0.2em;
		color: #333;
	}
}

.page-search .l-content {
	margin-bottom: 20px;
}

/* consultation search results */
.view-consultation-search {
	.view-content {
		h3 {
			display: block;
			margin: 0 0 0.8em 0;
			padding: .3em 11px;
			font-size: 1.4em;
			font-weight: bold;
			color: #333;
			background: #f0f0f0;
		}
	}
	.views-row-last {
		.views-field-zs-view-mode-search-result {
			border-bottom: 0;
		}
	}
	.views-field-zs-view-mode-search-result .node .content .field.field-type-file {
		font-size: 1em; // we set size on the child .file-item
	}
	.field-name-field-consultation-summary {
		.file {
			font-size: 1em;	// inherits the font size from parent .file-item that is 1.2em 
		}
	}
}

/* audit report search results - themed differently because of html structure of some of the search rewsults */
.view-audit-reports {
	.view-content {
		h3 {
			display: block;
			margin: 0 0 0.8em 0;
			padding: .3em 11px;
			font-size: 1.4em;
			font-weight: bold;
			color: #333;
			background: #f0f0f0;
		}
	}
	.views-row-last {
		.views-field-zs-view-mode-search-result {
			border-bottom: 0;
		}
	}
	.views-field-zs-view-mode-search-result .node .content .field.field-type-file {
		font-size: 1em; // we set size on the child .file-item
	}
	.field-name-field-consultation-summary {
		.file {
			font-size: 1em;	// inherits the font size from parent .file-item that is 1.2em 
		}
	}
	.views-field-zs-view-mode-search-result,
	.views-field-zs-view-mode-search-results-2,
	.views-field-zs-view-mode-search-results-3,
	.views-field-zs-view-mode-search-results-4,
	.views-field-zs-view-mode-search-results-5,
	.views-field-zs-view-mode-search-results-6,
	.views-field-zs-view-mode-search-results-7,
	.views-field-zs-view-mode-search-results-8,
	.views-field-zs-view-mode-search-results-9,
	.views-field-zs-view-mode-search-results-10 {
		border-bottom: none;
		padding: 0;
	}
	.views-row {
		border-bottom: 1px solid #5d9711;
		padding: 7px 0 7px 0;
	}
	.views-row.views-row-last,
	.views-row.views-row-first.views-row-last {
		border-bottom: 0;
	}
}
