
/** 
 * search form 
 * dependant on having block class: search-keyword-page
 */
.search-keyword-page {
	label,
  .views-exposed-form label,
  .form-item label, 
  .form-actions label {
	  padding-bottom: 0.25em;
		display: block;
		padding-left: 3px;
		color: #333;
		font-weight: normal;
		font-size: 1.2em;
		line-height: 1.4em;
  }
	input.form-text {
		width: 100%;	/* input form text is restricted by width of its wrapper */
		margin-bottom: .8em;
		padding: 2px 4px;
		background: #fff;
		font-size: 1.2em;
		vertical-align: middle;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-o-border-radius: 3px;
		-ms-border-radius: 3px;
		border-radius: 3px;
		border: 1px solid #ccc;
		font-family: Arial,Verdana,Helvetica,sans-serif;
		font-size: 1.2em;
		color: #333;
	}
	input.form-submit {
    display: block;
		margin: 0;
		padding: 4px;
		width: 24px;
		border: 1px solid #ccc;
		border-left: none;
		vertical-align: middle;
		font-size: 1.2em;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		-o-border-radius: 5px;
		-ms-border-radius: 5px;
		border-radius: 5px;
		background-color: #fa953e;
		background-image: url("../images/search.png");
		background-repeat: no-repeat;
		background-position: 5px 3px;
		text-indent: -9999px;
		&:hover {
			background-color: #f67f2a;
		}
	}
	.views-exposed-form .views-exposed-widget.views-submit-button {
		float: none;	
	}
}
/* mobile layout */
@include breakpoint($mobile) {
	.search-keyword-page {
		-moz-border-radius: 10px;
		-webkit-border-radius: 10px;
		-o-border-radius: 10px;
		-ms-border-radius: 10px;
		border-radius: 10px;
		input.form-text {
			width: 90%;
		}
	}
}

/**
 * Search facet
 * dependant on black class: search-facet
 */
.search-facet {
  label,
  .views-exposed-form label,
  .form-item label, 
  .form-actions label {
	  padding-bottom: 0.25em;
		display: block;
		padding-left: 3px;
		color: #333;
		font-weight: normal;
		font-size: 1.2em;
		line-height: 1.4em;
  }
  select {
	  color: #666;
		width: 99%;
		padding: 1px 2px;
		margin-bottom: .5em;
		vertical-align: middle;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-o-border-radius: 3px;
		-ms-border-radius: 3px;
		border-radius: 3px;
		border: 1px solid #ccc;
		font-family: Arial, Verdana, Helvetica, sans-serif;
		font-size: 1.2em;
  } 
}

/* active links tabs */
.current-search-item-active-links {
	margin-bottom: 20px;
	ul {
		margin: 0 0 0.75em 0;
		padding: 0;
		list-style-type: none;
		li {
			font-size: 1em;	// set default parent to 10px
			margin: 0px 5px 5px 0px;
			display: inline-block;
			*display: inline;	// hack for old IE
			zoom: 1;	// hack for old IE
			a {
				font-size: 1.2em;
				font-weight: normal;
				color: #ffffff;
				background-color: #fa953e;
				padding: 5px 8px 5px 8px;
				border: none;
				text-decoration: none;
			}
			a:hover {
				color: #ffffff;
				background-color: #f67f2a;
				text-decoration: none;
			}
		}
	}
}

/**
 * container around the search filter wrapper 
 * dependant on container_blocks custom module and block class: grey-container-block
 */
.grey-container-block {	
	margin-bottom: 20px;
	padding: 11px 9px 21px 11px;
	border: 1px solid #ccc;
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	-o-border-radius: 9px;
	-ms-border-radius: 9px;
	border-radius: 9px;
	background: #fff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,#fff 0,#e5e5e5 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#e5e5e5));
	background: -webkit-linear-gradient(top,#fff 0,#e5e5e5 100%);
	background: -o-linear-gradient(top,#fff 0,#e5e5e5 100%);
	background: -ms-linear-gradient(top,#fff 0,#e5e5e5 100%);
	background: linear-gradient(top,#fff 0,#e5e5e5 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e5e5e5',GradientType=0);
	h2.block__title {
		color: #5d9711;
		background: none;
		padding-left: 0;
		margin: 0 0 .6em 0;
		padding: 0;
		font-size: 1.5em;
		font-weight: bold;
	}
}

