/* social media share icons
 * requires block class: share-icons
 */
.share-icons,
.block--social-tab share-icons {
	overflow: hidden;
	padding: 20px 0 20px 0;
}

/* print styling overrides */
@media print {
	.share-icons,
	.block--social-tab share-icons {
		display: none;
	}
}