/* site map menublock
 * requires block class: site-map
 */

.site-map {
	/* prevent nested em's from affecting font sizes */
	ul ul,
	li li {
		font-size: 1em;
	}
	/* remove menu name */
	h2.block__title {
		display: none;
	}
	ul.menu {
		margin-left: 0;
		padding-left: 0;
		li, li.leaf, li.expanded, li.collapsed {
			list-style-image: none;
			list-style-type: none;
			list-style: none;
			margin-left: 0;
			padding-left: 1em;
		}
	}
}