/**
 * Table of contents
 * We use toc_node module to add a toc, and we override the css here
 */

/* wrapper */
#table-of-contents-links {
	a {
		color: #006f51;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;	
	}
}
/* bullet list */
ul.toc-node-bullets {
	li.toc-node-level-1 {
		background-image: url('../images/sidebar-arrow-down.png');
		background-repeat: no-repeat;
		background-position: 0px 5px; 
		padding-left: 14px;
	}
	li.toc-node-level-2 {
		background-image: url('../images/sidebar-arrow-down.png');
		background-repeat: no-repeat;
		background-position: 14px 5px; 
		padding-left: 28px;
	}
	li.toc-node-level-3 {
		background-image: url('../images/sidebar-arrow-down.png');
		background-repeat: no-repeat;
		background-position: 28px 5px; 
		padding-left: 42px;
	}
	li.toc-node-level-4 {
		background-image: url('../images/sidebar-arrow-down.png');
		background-repeat: no-repeat;
		background-position: 42px 5px; 
		padding-left: 56px;
	}
	li.toc-node-level-5 {
		background-image: url('../images/sidebar-arrow-down.png');
		background-repeat: no-repeat;
		background-position: 56px 5px; 
		padding-left: 70px;
	}
	li.toc-node-level-6 {
		background-image: url('../images/sidebar-arrow-down.png');
		background-repeat: no-repeat;
		background-position: 70px 5px; 
		padding-left: 84px;
	}
}
