/**
 * Table of contents
 * We use toc_node module to add a toc, and we override the css here
 */

/* wrapper */
#table-of-contents-links {
	ul, li {
		font-size: 1em;	// set base so nested items don't have issues
	}
	a {
		color: #006f51;
		text-decoration: none;
		font-size: 1.2em;
		line-height: 1.4em;
	}
	a:hover {
		text-decoration: underline;	
	}
	ul.toc-node-bullets li,
	ul.toc-node-numbers li {
		margin-bottom: 0.4em;
	}
}
/* bullet list */
ul.toc-node-bullets {
	li.toc-node-level-1 {
		background-image: url('../images/sidebar-arrow-down.png');
		background-repeat: no-repeat;
		background-position: 0px 4px; 
		padding-left: 14px;
	}
	li.toc-node-level-2 {
		background-image: url('../images/sidebar-arrow-down.png');
		background-repeat: no-repeat;
		background-position: 14px 4px; 
		padding-left: 28px;
	}
	li.toc-node-level-3 {
		background-image: url('../images/sidebar-arrow-down.png');
		background-repeat: no-repeat;
		background-position: 28px 4px; 
		padding-left: 42px;
	}
	li.toc-node-level-4 {
		background-image: url('../images/sidebar-arrow-down.png');
		background-repeat: no-repeat;
		background-position: 42px 4px; 
		padding-left: 56px;
	}
	li.toc-node-level-5 {
		background-image: url('../images/sidebar-arrow-down.png');
		background-repeat: no-repeat;
		background-position: 56px 4px; 
		padding-left: 70px;
	}
	li.toc-node-level-6 {
		background-image: url('../images/sidebar-arrow-down.png');
		background-repeat: no-repeat;
		background-position: 70px 4px; 
		padding-left: 84px;
	}
}

@include breakpoint($mobile) {
	#table-of-contents-links {
		ul.toc-node-bullets li,
		ul.toc-node-numbers li {
			margin-bottom: 0.6em;
		}
	}
}
