/* summary field - when used directly on a content type */
.field--name-field-summary {
	font-size: 1.6em;
	line-height: 1.4em;
	color: #006f51;
	margin-bottom: 20px;
	p {
		margin-bottom: 11px;
		font-size: 1em;	// ie same font size as this field
		line-height: 1.4em;
	}
}

/* summary field - when used in a view as a views field */
.views-field-field-summary {
	font-size: 1.6em;
	line-height: 1.4em;
	color: #006f51;
	margin-bottom: 20px;
	p {
		margin-bottom: 11px;
		font-size: 1em;	// ie same font size as this field
		line-height: 1.4em;
	}
}
