/* webform page */
.node-type-webform {
	/* labels */
	label {
		font-weight: normal;
	}
	.webform-component-textfield label,
	.webform-component-textarea label {
		padding-bottom: 0.25em;
		display: block;
		padding-left: 3px;
		font-weight: normal;
		font-size: 1.2em;
		line-height: 1.4em;
	}
	/* text fields */
	input.form-text,
	textarea.form-textarea {
		padding: 2px 4px;
		background: #fff;
		font-size: 1.2em;
		vertical-align: middle;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-o-border-radius: 3px;
		-ms-border-radius: 3px;
		border-radius: 3px;
		border: 1px solid #ccc;
		font-family: Arial,Verdana,Helvetica,sans-serif;
		font-size: 1.2em;
		color: #333;
		width: 100%;
	}
	/* submit button */
	input.form-submit {
		overflow: hidden;
		border: 1px solid #fff;
		line-height: 1em;
		font-size: 1.2em;
		font-weight: bold;
		white-space: normal;
		word-wrap: break-word;
		display: block;
		text-decoration: none;
		color: #3d3d3d;
		-webkit-border-radius: 3px;
		-moz-border-radius: 3px;
		-o-border-radius: 3px;
		-ms-border-radius: 3px;
		border-radius: 3px;
		background: #fff;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0NiUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiNjZGNkY2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,#fff 46%,#cdcdcd 99%);
		background: -webkit-gradient(linear,left top,left bottom,color-stop(46%,#fff),color-stop(99%,#cdcdcd));
		background: -webkit-linear-gradient(top,#fff 46%,#cdcdcd 99%);
		background: -o-linear-gradient(top,#fff 46%,#cdcdcd 99%);
		background: -ms-linear-gradient(top,#fff 46%,#cdcdcd 99%);
		background: linear-gradient(top,#fff 46%,#cdcdcd 99%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#cdcdcd',GradientType=0);
		padding: 6px;
		border: 1px solid #bbb;
		float: right;
	}
	input.form-submit:hover,
	input.form-submit:focus {
		text-decoration: underline;
		border: 1px solid #f67f2a;
	}
	/* webform wrappers */
	.custom-outer-wrapper {
		border: 1px solid #ccc;
		-webkit-border-radius: 9px;
		-moz-border-radius: 9px;
		-o-border-radius: 9px;
		-ms-border-radius: 9px;
		border-radius: 9px;
		overflow: hidden;
	}
	.custom-inner-wrapper {
		overflow: hidden;
		background: #fff;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNWU1ZTUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,#fff 0,#e5e5e5 100%);
		background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#e5e5e5));
		background: -webkit-linear-gradient(top,#fff 0,#e5e5e5 100%);
		background: -o-linear-gradient(top,#fff 0,#e5e5e5 100%);
		background: -ms-linear-gradient(top,#fff 0,#e5e5e5 100%);
		background: linear-gradient(top,#fff 0,#e5e5e5 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#e5e5e5',GradientType=0);
	}
	.custom-node-content {
		overflow: hidden;
		padding: 11px 9px 21px 11px;
	}
}