/* color style guide:
 * header background - #3a3a9b
 * seaction header background - #7f81c4
 * left sidebar blocks background - #5d5ead
 * links, sidebar menu top border, page titles, section subheadings  - #666699
 * table headings, guidance highlight box border etc - #666699
 * header and footer border - #7f7fc0
 * right and down arrows color - #646464
*/

/* page header and top border */
.header-wrapper {
	border-bottom: 3px solid #7f7fc0;
	background: none;
	background-color: #3a3a9b;
}

/* page bottom borders */
.main-wrapper {
	border-bottom: 4px solid #7f7fc0;
}
.bottom-menu-wrapper {
	border-top: none;
}

/* site name */
h1.site-name {
	display: none;
}

/* page title */
h1 {
	color: #666699;
}

/* content main */
.main-content-inner {
	padding-bottom: 50px;
}

/* links */
a,
.page-section-teaser .node__title a {
	color: #666699;
}
a:hover,
.page-section-teaser .node__title a:hover {
	color: #666699;
}

/* back to top links */
.section-back-top a {
	color: #666699;
	background: url("../images/arrow-up.png") left 4px no-repeat;
}

/* summary field */
.field--name-field-summary,
.views-field-field-summary {
	color: #333;
}


/* section headings */
.page-section-heading {
	background: #7f81c4;
}


/* latest news view title */
.committee-news h2.block__title, 
.committee-news h3.block__title {
	background: #7f81c4;
}

/* committee news node title */
.committee-news .node__title a {
	color: #666699;
}
.committee-news {
	font-size: 1em;
}
.committee-news h3.node__title,
.committee-news h3.node__title {
	font-size: 1.3em;
	line-height: 1.4em;
	margin-bottom: 0;
	font-weight: bold;
}

/* committee menu - see site front_frontent theme for the rest of the implementation */
.l-sidebar-first .committee-menu {
	border-top: 4px solid #666699;
}
.l-sidebar-first .committee-menu .menu-block-wrapper a.active,
.l-sidebar-first .committee-menu .block__content a.active {
    color: #666699;
}
.l-sidebar-first .committee-menu .menu-block-wrapper li.expanded > a,
.l-sidebar-first .committee-menu .block__content li.expanded > a {
    color: #666699;
}

/* pages section subheadings eg related media */
.page-section-subheading {
	color: #666699;
}

/* file item links in page sections */
.page-section-teaser .file-item a {
	color: #666699;
}

/* table of contents */
#table-of-contents-links a {
	color: #666699;
}
ul.toc-node-bullets li.toc-node-level-1 {
	background: url("../images/arrow-down.png") 0px 4px no-repeat;	
}
ul.toc-node-bullets li.toc-node-level-2 {
	background: url("../images/arrow-down.png") 14px 4px no-repeat;	
}
ul.toc-node-bullets li.toc-node-level-3 {
	background: url("../images/arrow-down.png") 28px 4px no-repeat;	
}
ul.toc-node-bullets li.toc-node-level-4 {
	background: url("../images/arrow-down.png") 42px 4px no-repeat;	
}
ul.toc-node-bullets li.toc-node-level-5 {
	background: url("../images/arrow-down.png") 56px 4px no-repeat;	
}
ul.toc-node-bullets li.toc-node-level-6 {
	background: url("../images/arrow-down.png") 70px 4px no-repeat;	
}

/* generic block titles */
.generic-blocks .field--name-field-title-side-content-generic {
	color: #666699;
}

/* see also block */
.see-also h2.block__title {
	color: #666699;
}
.see-also .views-field-title {
	background: url("../images/thin-right-arrow.png") left 3px no-repeat;
}

/* external links block */
.external-sites h2.block__title {
	color: #666699;
}
.external-sites .views-field-field-url a {
	color: #666699;
}
.external-sites .views-field-field-url {
	background: url("../images/thin-right-arrow.png") left 3px no-repeat;
}

/* external sites with logos */
.external-sites-with-logos .views-field-field-url a {
	color: #666699;
}
.external-sites-with-logos .views-field-field-url {
	background: url("../images/thin-right-arrow.png") left 3px no-repeat;
}

/* accessibility */
#accessTools li#accessListen .icon {
	background: url('../images/listen.png') 0 0 no-repeat;
}

/* external link */
span.ext {
	background: url("../images/external-link-icon.png") right center no-repeat;
}

/* tables */
.field--name-field-fc-section-body table, 
.field--name-body .field--type-text-with-summary table, 
.field--type-text-long table {
	border-top: 1px solid #666699;
}

.field--name-field-fc-section-body th, 
.field--name-field-fc-section-body thead th, 
.field--name-field-fc-section-body thead td, 
.field--name-field-fc-section-body tfoot th, 
.field--name-field-fc-section-body tfoot td, 
.field--name-body .field--type-text-with-summary th, 
.field--name-body .field--type-text-with-summary thead th, 
.field--name-body .field--type-text-with-summary thead td, 
.field--name-body .field--type-text-with-summary tfoot th, 
.field--name-body .field--type-text-with-summary tfoot td, 
.field--type-text-long th, 
.field--type-text-long thead th, 
.field--type-text-long thead td, 
.field--type-text-long tfoot th, 
.field--type-text-long tfoot td {
	color: #666699; 
}

/* guidance highlight box */
.field--name-field-fc-section-body .guidance, 
.field--name-body .field--type-text-with-summary .guidance, 
.field--type-text-long .guidance {
	background: #f2f2f2; 
	border: 1px solid #666699;
}










