@import "compass";
@import "breakpoint";
@import "singularitygs";

// Globbing from within sub-folders only works with relative paths.
@import "../../variables/**/*";


.header-top {
	overflow: hidden;
}
.l-breadcrumb-accessibility {
	overflow: hidden;
}
.l-preface {
	overflow: hidden;
}
.l-main {
	overflow: hidden;
}
.bottom-menu-wrapper-inner {
  overflow: hidden;
}
.l-footer {
	overflow: hidden;
}
.footer-top {
	overflow: hidden;
}
.footer-bottom {
	overflow: hidden;
}
.footer-wrapper {
	overflow: hidden;
}
.footer-wrapper-inner {
	overflow: hidden;
}

/* force wrappers to expand beyond browser window size when browser made smaller */
.header-wrapper,
.breadcrumb-accessibility-wrapper,
.main-wrapper,
.bottom-menu-wrapper,
.footer-wrapper {
	min-width: 960px;
}

/* layout - desktop first approach */
.header-wrapper-inner,
.l-breadcrumb-accessibility,
.l-preface,
.l-main,
.bottom-menu-wrapper-inner,
.l-footer {
	width: 960px;		/* we are using border box plugin so padding will not increase the width of the box */
	padding-left: 6px;
	padding-right: 6px;
	margin: 0 auto;
}
.l-preface {
	width: 948px;	/* need to reduce width because it is not a nested region and we want it to line up with other regions that are nested */
}
.l-main {
	padding-bottom: 12px;
}
.l-header-branding {
	@include grid-span(3,1);
}
.l-header-top-menu {
	@include grid-span(6,4);
}
.l-header-search {
	@include grid-span(3,10);
}
.header-bottom {
	@include clearfix;
}
.l-header-main-menu {
	@include grid-span(9,1);
}
.l-header-social-media {
	@include grid-span(3,10);
}
.breadcrumb-accessibility-wrapper {
	 @include clearfix;
}
.l-breadcrumb {
	@include grid-span(8,1);
}
.l-accessibility {
	@include grid-span(4,9);
}
.main-wrapper {
	@include clearfix;
}
.l-sidebar-first {
	@include grid-span(3,1);
}
.l-content {
	@include grid-span(6,4);
}
.l-sidebar-second {
	@include grid-span(3,10);
}
.bottom-menu-wrapper {
	@include clearfix;
}
.l-bottom-menu {
	@include grid-span(12,1);
}
.footer-bottom {
	@include clearfix;
}
.l-footer-copyright {
	@include grid-span(12,1);
}
.l-footer-menu {
	@include grid-span(9,1);
}
.l-footer-buttons {
	@include grid-span(3,10);
}

/* mobile layout */
@include breakpoint($mobile) {
	.header-wrapper-inner,
	.l-breadcrumb-accessibility,
	.l-preface,
	.l-main,
	.bottom-menu-wrapper-inner,
	.l-footer {
		width: 100%;		/* we are using border box plugin so padding will not increase the width of the box */
		padding-left: 6px;
		padding-right: 6px;
		margin: 0;
	}
	.l-header-branding {
		@include grid-span(6,1);
	}
	.l-header-top-menu {
		@include grid-span(6,7);
	}
	.l-header-search {
		@include grid-span(12,1);
		clear: both;
		float: none;
	}
	.header-bottom {
		@include clearfix;
	}
	.l-header-main-menu {
		@include grid-span(12,1);
		clear: both;
		float: none;
	}
	.l-header-social-media {
		@include grid-span(0,0);
		clear: both;
		float: none;
		display: none;
	}
	.breadcrumb-accessibility-wrapper {
		 @include clearfix;
	}
	.l-breadcrumb {
		@include grid-span(12,1);
		clear: both;
		float: none;
	}
	.l-accessibility {
		@include grid-span(0,0);
		display: none;
	}
	.l-preface {
		@include grid-span(12,1);
		clear: both;
		float: none;
	}
	.main-wrapper {
		@include clearfix;
	}
	.l-sidebar-first {
		@include grid-span(12,1);
		clear: both;
		float: none;
	}
	.l-content {
		@include grid-span(12,1);
		clear: both;
		float: none;
	}
	.l-sidebar-second {
		@include grid-span(12,1);
		clear: both;
		float: none;
	}
	.bottom-menu-wrapper {
		@include clearfix;
		display: none;
	}
	.l-bottom-menu {
		@include grid-span(12,1);
		clear: both;
		float: none;
	}
	.footer-bottom {
		@include clearfix;
	}
	.l-footer-copyright {
		@include grid-span(12,1);
		clear: both;
		float: none;
	}
	.l-footer-menu {
		@include grid-span(12,1);
		clear: both;
		float: none;
	}
	.l-footer-buttons {
		@include grid-span(12,1);
		clear: both;
		float: none;
	}
	.header-wrapper,
	.breadcrumb-accessibility-wrapper,
	.main-wrapper,
	.bottom-menu-wrapper,
	.footer-wrapper {
		min-width: 0;	// note min-width: none has no effect (not valid), must be 0;
	}
}

/* print styling overrides */
@media print {
	.header-wrapper-inner,
	.l-breadcrumb-accessibility,
	.l-preface,
	.l-main,
	.bottom-menu-wrapper-inner,
	.l-footer {
		width: auto;
		padding-left: 6px;
		padding-right: 6px;
		margin: 0.5%;
	}
	.l-header-branding {
		@include grid-span(12,1);
	}
	.l-header-top-menu {
		@include grid-span(0,1);
		display: none;
	}
	.l-header-search {
		@include grid-span(0,1);
		display: none;
	}
	.header-bottom {
		@include clearfix;
		display: none;
	}
	.l-header-main-menu {
		@include grid-span(0,1);
		display: none;
	}
	.l-header-social-media {
		@include grid-span(0,1);
		display: none;
	}
	.breadcrumb-accessibility-wrapper {
		 @include clearfix;
	}
	.l-breadcrumb {
		@include grid-span(12,1);
		clear: both;
		float: none;
	}
	.l-accessibility {
		@include grid-span(0,1);
		display: none;
	}
	.l-preface {
		@include grid-span(12,1);
		clear: both;
		float: none;
	}
	.main-wrapper {
		@include clearfix;
	}
	.l-sidebar-first {
		@include grid-span(12,1);
		clear: both;
		float: none;
		display: none;
	}
	.l-content {
		@include grid-span(12,1);
		clear: both;
		float: none;
	}
	.l-sidebar-second {
		@include grid-span(12,1);
		clear: both;
		float: none;
		display: none;
	}
	.bottom-menu-wrapper {
		@include clearfix;
		display: none;
	}
	.l-bottom-menu {
		@include grid-span(12,1);
		clear: both;
		float: none;
		display: none;
	}
	.footer-bottom {
		@include clearfix;
	}
	.l-footer-copyright {
		@include grid-span(12,1);
		clear: both;
		float: none;
	}
	.l-footer-menu {
		@include grid-span(12,1);
		clear: both;
		float: none;
		display: none;
	}
	.l-footer-buttons {
		@include grid-span(12,1);
		clear: both;
		float: none;
		display: none;
	}
	.header-wrapper,
	.breadcrumb-accessibility-wrapper,
	.main-wrapper,
	.bottom-menu-wrapper,
	.footer-wrapper {
		min-width: 0;	// note min-width: none has no effect (not valid), must be 0;
	}
}



// Campaign content page-specific styles
.layout--site-frontend-campaign-content-page {


  h1, h2, h3, h4, h5 {
    color: #49176e;
  }

  h1 {
    font-weight: bold;
  }

  h2 {
    font-size: 19px !important;
    line-height: 1.5;
    margin-bottom: 4px;
  }

  h3 {
    font-size: 17px !important;
  }

  h4 {
    font-size: 14px !important;
  }

  .page-section-heading {
    background-color: transparent;
    padding: 0;

    h2 {
      //font-size: initial !important;
      font-size: 19px !important;
    }

    h3 {
      font-size: 17px !important;
    }

    h4 {
      font-size: 14px !important;
    }

  }

  .l-content {
    width: 75%;

    @include breakpoint($mobile) {
      width: 100%;
    }

  }

  // Campaign header region
  .l-region--campaign-header {
    margin-bottom: 20px;
  }

  .sidebar-menu {
    .menu-block-wrapper {
      li {
        list-style-image: none !important;
        a {
          background-color: #f2f2f2;
          background-image: none;
          color: #4f4f4f;
          padding-left: 14px;
          &.active {
            background-color: #49176e;
            color: #fff;
          }
        }
      }
    }
  }

  .content a {
    color: #4a1170;
  }

  h3 { font-size: 1.1em; }

  p { font-size: 1.4em;   }
  ul.cccc { font-size: 1.15em;  }

  .sec-head {
    color: #49176e;
    font-weight: bold;
    font-size: 1.9em;
    margin-bottom: 0.2em;
  }

  .cccc-head {
    margin-bottom: 4px;
    margin-left: 85px;
    font-size: 1.4em;
  }

  .standfirst  {
    color: #49176e;
    font-size: 1.6em
  }

  .videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }

  .col, .col * {
    box-sizing:border-box;
  }

  .col {
    padding:1% 0;
  }

  @media (min-width:481px) { /* #### - > 560px (560 / 16 = 35) - 16px being default browser font-size - #### */
    .col {width:49%;}
    .col-1 {float:left;}
    .col-2 {float:right;}
  }

  .textWrapper {
    position: relative;
    padding-bottom: 0.25%; /* 16:9 */
    padding-top: 10px;
    min-height: 162px;
    border:dotted;
    border-color: #9f218b;
    border-radius:  10px;

    @media (max-width: 480px) {
      min-height:auto;
    }

    ul {
      width: 100%;
      height: 100%;
      padding-left: 9em;
      padding-right: 1em;
    }

    img {
      margin:5px 10px 10px 6px;
      padding-left:2px;
    }
  }

  .pic {
    float: right;
    margin-left: 10px;

    @media (max-width:480px) {
      display: none;
    }

  }


  @-moz-document url-prefix() {
    .textWrapper {
      border:ridge;
      border-color: #9f218b;
    }
  }

  .l-region.l-region--campaign-header h2 {
    font-size: 23px !important;
    margin-bottom: 0.867em;
  }

}
