@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-two-column\/site-frontend-two-column\.layout\.scss}line{font-family:\000039}}
.header-top {
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-two-column\/site-frontend-two-column\.layout\.scss}line{font-family:\0000312}}
.l-breadcrumb-accessibility {
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-two-column\/site-frontend-two-column\.layout\.scss}line{font-family:\0000315}}
.l-main {
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-two-column\/site-frontend-two-column\.layout\.scss}line{font-family:\0000318}}
.bottom-menu-wrapper-inner {
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-two-column\/site-frontend-two-column\.layout\.scss}line{font-family:\0000321}}
.l-footer {
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-two-column\/site-frontend-two-column\.layout\.scss}line{font-family:\0000324}}
.footer-top {
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-two-column\/site-frontend-two-column\.layout\.scss}line{font-family:\0000327}}
.footer-bottom {
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-two-column\/site-frontend-two-column\.layout\.scss}line{font-family:\0000330}}
.footer-wrapper {
  overflow: hidden; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-two-column\/site-frontend-two-column\.layout\.scss}line{font-family:\0000333}}
.footer-wrapper-inner {
  overflow: hidden; }

/* layout - desktop first approach */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-two-column\/site-frontend-two-column\.layout\.scss}line{font-family:\0000342}}
.header-wrapper-inner,
.l-breadcrumb-accessibility,
.l-main,
.bottom-menu-wrapper-inner,
.l-footer {
  width: 960px;
  padding-left: 6px;
  padding-right: 6px;
  margin: 0 auto; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-two-column\/site-frontend-two-column\.layout\.scss}line{font-family:\0000348}}
.l-header-branding {
  width: 25%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  padding-left: 6px;
  padding-right: 6px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-two-column\/site-frontend-two-column\.layout\.scss}line{font-family:\0000351}}
.l-header-top-menu {
  width: 50%;
  float: left;
  margin-right: -100%;
  margin-left: 25%;
  clear: none;
  padding-left: 6px;
  padding-right: 6px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-two-column\/site-frontend-two-column\.layout\.scss}line{font-family:\0000354}}
.l-header-search {
  width: 25%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding-left: 6px;
  padding-right: 6px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-two-column\/site-frontend-two-column\.layout\.scss}line{font-family:\0000357}}
.header-bottom {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/anthonyalbertyn\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.site_frontend\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_clearfix\.scss}line{font-family:\0000348}}
  .header-bottom:before, .header-bottom:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/anthonyalbertyn\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.site_frontend\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_clearfix\.scss}line{font-family:\0000355}}
  .header-bottom:after {
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-two-column\/site-frontend-two-column\.layout\.scss}line{font-family:\0000360}}
.l-header-main-menu {
  width: 75%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  padding-left: 6px;
  padding-right: 6px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-two-column\/site-frontend-two-column\.layout\.scss}line{font-family:\0000363}}
.l-header-social-media {
  width: 25%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding-left: 6px;
  padding-right: 6px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-two-column\/site-frontend-two-column\.layout\.scss}line{font-family:\0000366}}
.breadcrumb-accessibility-wrapper {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/anthonyalbertyn\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.site_frontend\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_clearfix\.scss}line{font-family:\0000348}}
  .breadcrumb-accessibility-wrapper:before, .breadcrumb-accessibility-wrapper:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/anthonyalbertyn\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.site_frontend\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_clearfix\.scss}line{font-family:\0000355}}
  .breadcrumb-accessibility-wrapper:after {
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-two-column\/site-frontend-two-column\.layout\.scss}line{font-family:\0000369}}
.l-breadcrumb {
  width: 75%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  padding-left: 6px;
  padding-right: 6px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-two-column\/site-frontend-two-column\.layout\.scss}line{font-family:\0000372}}
.l-accessibility {
  width: 25%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding-left: 6px;
  padding-right: 6px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-two-column\/site-frontend-two-column\.layout\.scss}line{font-family:\0000375}}
.main-wrapper {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/anthonyalbertyn\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.site_frontend\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_clearfix\.scss}line{font-family:\0000348}}
  .main-wrapper:before, .main-wrapper:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/anthonyalbertyn\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.site_frontend\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_clearfix\.scss}line{font-family:\0000355}}
  .main-wrapper:after {
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-two-column\/site-frontend-two-column\.layout\.scss}line{font-family:\0000378}}
.l-content {
  width: 75%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  padding-left: 6px;
  padding-right: 6px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-two-column\/site-frontend-two-column\.layout\.scss}line{font-family:\0000381}}
.l-sidebar-second {
  width: 25%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding-left: 6px;
  padding-right: 6px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-two-column\/site-frontend-two-column\.layout\.scss}line{font-family:\0000384}}
.bottom-menu-wrapper {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/anthonyalbertyn\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.site_frontend\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_clearfix\.scss}line{font-family:\0000348}}
  .bottom-menu-wrapper:before, .bottom-menu-wrapper:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/anthonyalbertyn\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.site_frontend\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_clearfix\.scss}line{font-family:\0000355}}
  .bottom-menu-wrapper:after {
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-two-column\/site-frontend-two-column\.layout\.scss}line{font-family:\0000387}}
.l-bottom-menu {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding-left: 6px;
  padding-right: 6px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-two-column\/site-frontend-two-column\.layout\.scss}line{font-family:\0000390}}
.footer-bottom {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/anthonyalbertyn\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.site_frontend\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_clearfix\.scss}line{font-family:\0000348}}
  .footer-bottom:before, .footer-bottom:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden; }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/anthonyalbertyn\/\.rvm\/gems\/ruby-1\.9\.3-p484\@omega\.site_frontend\/gems\/singularitygs-1\.1\.2\/stylesheets\/singularitygs\/helpers\/_clearfix\.scss}line{font-family:\0000355}}
  .footer-bottom:after {
    clear: both; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-two-column\/site-frontend-two-column\.layout\.scss}line{font-family:\0000393}}
.l-footer-copyright {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding-left: 6px;
  padding-right: 6px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-two-column\/site-frontend-two-column\.layout\.scss}line{font-family:\0000396}}
.l-footer-menu {
  width: 75%;
  float: left;
  margin-right: -100%;
  margin-left: 0%;
  clear: none;
  padding-left: 6px;
  padding-right: 6px; }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/layouts\/site-frontend-two-column\/site-frontend-two-column\.layout\.scss}line{font-family:\0000399}}
.l-footer-buttons {
  width: 25%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding-left: 6px;
  padding-right: 6px; }

/* mobile layout */
