.l-main {
  overflow: hidden;
}

/* layout - desktop first approach */
.l-main {
  width: 960px;
  padding-left: 6px;
  padding-right: 6px;
  margin: 0 auto;
}

.main-wrapper {
  /* for IE 6/7 */
  *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
  /* non-JS fallback */
  *zoom: 1;
  padding-top: 20px;
}
.main-wrapper:before, .main-wrapper:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
.main-wrapper:after {
  clear: both;
}

.l-content {
  width: 100%;
  float: right;
  margin-left: 0;
  margin-right: 0;
  clear: none;
  padding-left: 6px;
  padding-right: 6px;
}

/* override styling from _content_section.scss */
.blank .main-wrapper {
  border-bottom: none;
}

@media (min-width: 0px) and (max-width: 480px) {
  .blank .main-wrapper {
    border-bottom: none;
  }
}
/* mobile layout */
@media (min-width: 0px) and (max-width: 480px) {
  .l-main {
    width: 100%;
    padding-left: 6px;
    padding-right: 6px;
    margin: 0;
  }

  .l-main {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .main-wrapper {
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1;
  }
  .main-wrapper:before, .main-wrapper:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
  }
  .main-wrapper:after {
    clear: both;
  }

  .l-content {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6px;
    padding-right: 6px;
    clear: both;
    float: none;
  }
}
/* print styling overrides */
@media print {
  .header-wrapper-inner,
  .l-breadcrumb-accessibility,
  .l-preface,
  .l-main,
  .bottom-menu-wrapper-inner,
  .l-footer {
    width: auto;
    padding-left: 6px;
    padding-right: 6px;
    margin: 0.5%;
  }

  .l-header-branding {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6px;
    padding-right: 6px;
  }

  .l-header-top-menu {
    width: 0%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    padding-left: 6px;
    padding-right: 6px;
    display: none;
  }

  .l-header-search {
    width: 0%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    padding-left: 6px;
    padding-right: 6px;
    display: none;
  }

  .header-bottom {
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1;
    display: none;
  }
  .header-bottom:before, .header-bottom:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
  }
  .header-bottom:after {
    clear: both;
  }

  .l-header-main-menu {
    width: 0%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    padding-left: 6px;
    padding-right: 6px;
    display: none;
  }

  .l-header-social-media {
    width: 0%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    padding-left: 6px;
    padding-right: 6px;
    display: none;
  }

  .breadcrumb-accessibility-wrapper {
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1;
  }
  .breadcrumb-accessibility-wrapper:before, .breadcrumb-accessibility-wrapper:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
  }
  .breadcrumb-accessibility-wrapper:after {
    clear: both;
  }

  .l-breadcrumb {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6px;
    padding-right: 6px;
    clear: both;
    float: none;
  }

  .l-accessibility {
    width: 0%;
    float: left;
    margin-right: -100%;
    margin-left: 0%;
    clear: none;
    padding-left: 6px;
    padding-right: 6px;
    display: none;
  }

  .l-preface {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6px;
    padding-right: 6px;
    clear: both;
    float: none;
  }

  .main-wrapper {
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1;
  }
  .main-wrapper:before, .main-wrapper:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
  }
  .main-wrapper:after {
    clear: both;
  }

  .l-sidebar-first {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6px;
    padding-right: 6px;
    clear: both;
    float: none;
    display: none;
  }

  .l-content {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6px;
    padding-right: 6px;
    clear: both;
    float: none;
  }

  .l-sidebar-second {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6px;
    padding-right: 6px;
    clear: both;
    float: none;
    display: none;
  }

  .bottom-menu-wrapper {
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1;
    display: none;
  }
  .bottom-menu-wrapper:before, .bottom-menu-wrapper:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
  }
  .bottom-menu-wrapper:after {
    clear: both;
  }

  .l-bottom-menu {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6px;
    padding-right: 6px;
    clear: both;
    float: none;
    display: none;
  }

  .footer-bottom {
    /* for IE 6/7 */
    *zoom: expression(this.runtimeStyle.zoom="1", this.appendChild(document.createElement("br")).style.cssText="clear:both;font:0/0 serif");
    /* non-JS fallback */
    *zoom: 1;
  }
  .footer-bottom:before, .footer-bottom:after {
    content: ".";
    display: block;
    height: 0;
    overflow: hidden;
  }
  .footer-bottom:after {
    clear: both;
  }

  .l-footer-copyright {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6px;
    padding-right: 6px;
    clear: both;
    float: none;
  }

  .l-footer-menu {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6px;
    padding-right: 6px;
    clear: both;
    float: none;
    display: none;
  }

  .l-footer-buttons {
    width: 100%;
    float: right;
    margin-left: 0;
    margin-right: 0;
    clear: none;
    padding-left: 6px;
    padding-right: 6px;
    clear: both;
    float: none;
    display: none;
  }

  .header-wrapper,
  .breadcrumb-accessibility-wrapper,
  .main-wrapper,
  .bottom-menu-wrapper,
  .footer-wrapper {
    min-width: 0;
  }
}
