/* committee papers - statement and positioning papers */
.view-committee-papers-listing {
	.view-content {
		h3 {
			display: block;
			margin: 0 0 0.8em 0;
			padding: .3em 11px;
			font-size: 1.4em;
			font-weight: bold;
			color: #333;
			background: #f0f0f0;
		}
		.views-field-sm-field-subtitle {
			font-size: 1.3em;
			line-height: 1.4em;
			margin-bottom: 0.5em;
			font-weight: bold;
		}
	}
	.views-row-last {
		margin-bottom: 15px;
	}
}

/* print styling overrides */
@media print {
	.view-committee-papers-listing {
		.view-content {
			h3 {
				color: #000;
			}
		}
	}
}