/** 
 * inline file block
 * requires custom markup in teaxtarea
 * used for manually adding files that won't change very often
 * scroll down to too markup requirements
 */

.inline-file-block-wrapper {
	overflow: hidden;
	border: 1px solid #c4c4c4;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
	margin-bottom: 18px;
}
.inline-file-block {
	overflow: hidden;
	background: #fff;
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQ2JSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlYWVhZWEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,#fff 0,#fff 46%,#eaeaea 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(46%,#fff),color-stop(100%,#eaeaea));
	background: -webkit-linear-gradient(top,#fff 0,#fff 46%,#eaeaea 100%);
	background: -o-linear-gradient(top,#fff 0,#fff 46%,#eaeaea 100%);
	background: -ms-linear-gradient(top,#fff 0,#fff 46%,#eaeaea 100%);
	background: linear-gradient(top,#fff 0,#fff 46%,#eaeaea 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#eaeaea',GradientType=0);
}
.inline-file-block-content {
	padding: 12px 10px 12px 10px;
	/* remove styling just in case */
	ul, li {
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 1em;
	}
	.file-item {
		font-size: 1.2em;
		line-height: 1.4em;
		font-weight: normal;
		margin-bottom: 0.5em;
	}
	a {
		color: #006f51;
		text-decoration: none;
	}
	a:hover {
		text-decoration: underline;
	}
	.span.filesize {
		margin-left: 10px;
		font-size: 0.846em;
	}
}
/* override base styles for links within textareas */
.field--type-text-with-summary,
.field--type-text-long,
.field-type-text-long,
.field-type-text-with-summary {
	.inline-file-block-content {
		a {
			text-decoration: none!important;
		}
		a:hover {
			text-decoration: underline!important;
		}
		a:focus {
			text-decoration: underline!important;
		}
	}
}


/* print styling overrides */
@media print {
	.inline-file-block {
		display: none;
	}
}


/* markup requirement:

<!-- start inline files -->
	<div class="inline-file-block-wrapper">
		<div class="inline-file-block">
			<div class="inline-file-block-content">
				<div class="file-item">
					<a href="/sites/default/files/multimedia/pdfs/consultfeedback.pdf"><img alt="" class="file-icon" src="/modules/file/icons/application-pdf.png" title="application/pdf" /> Consultation feedback questionnaire</a>
				</div>
				<div class="file-item">
					<a href="/sites/default/files/multimedia/worddocs/consultfeedback.doc"><img alt="" class="file-icon" src="/modules/file/icons/x-office-document.png" title="application/msword" /> Consultation feedback questionnaire</a>
				</div>
			</div>
		</div>
	</div>
<!-- end inline files -->

*/

