/** 
 * Latest news and alerts block  on site home page
 * we are only theming the block content here as the block class: green-block-white-background is applied to the block
 * and that is themed in base/_blocks.scss
 */

.latest-news-and-alerts {
	position: relative;
	margin-bottom: 20px;
	font-size: 1em;	// sets base font size to 10px
	/* featured image */
	.views-field-field-feature-image img {
		float: none;
		margin: 0 0 8px 0;
		padding: 0;
		border: 0;
	}
	/* title */
	.views-field-title,
	.views-field-field-title-short {
		font-size: 1.3em;
		line-height: 1.2em;
		margin-bottom: 0.5em;
		font-weight: normal;
		a {
			text-decoration: none;
			color: #006f51;
		}
		a:hover {
			text-decoration: underline;
		}
		h2, h3 {
			margin-bottom: 0px;
			font-weight: normal;
			font-size: 1em;	// gets parent font size
		}
	}
	/* updated date */
	.views-field-field-updated,
	.views-field-field-display-updated-date {
		font-size: 1.2em;
		margin-bottom: 0.2em;
	}
	/* each teaser views row */
	.views-row {
		width: 161px;
		overflow: hidden;
		display: block;
		float: left;
		margin-right: 11px;
		margin-bottom: 15px;
	}
	.views-row.views-row-last {
		margin-right: 0;
	}
	/* view content wrapper */
	.view-content {
		margin-left: 10px;
		margin-right: 10px;
	}
	/* view footer */
	.view-footer {
		overflow: hidden;
		width: 697px;
		position: absolute;
		bottom: 1px;
		left: 1px;
		font-size: 1.2em;
		line-height: 1em;
		clear: both;
		margin-top: 0.5em;
		border-top: 1px solid #ccc;
		-moz-border-radius: 0 0 8px 8px;
		-webkit-border-radius: 0 0 8px 8px;
		-o-border-radius: 0 0 8px 8px;
		-ms-border-radius: 0 0 8px 8px;
		border-radius: 0 0 8px 8px;
		overflow: hidden;
		.custom-views-footer-inner {
			overflow: hidden;
			padding-top: 0.45em;
			padding-bottom: 0.45em;
			background: #fff;
			background: -moz-linear-gradient(top,#fff 0%,#cfcfcf 100%);
			background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#fff),color-stop(100%,#cfcfcf));
			background: -webkit-linear-gradient(top,#fff 0%,#cfcfcf 100%);
			background: -o-linear-gradient(top,#fff 0%,#cfcfcf 100%);
			background: -ms-linear-gradient(top,#fff 0%,#cfcfcf 100%);
			background: linear-gradient(top,#fff 0%,#cfcfcf 100%);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff',endColorstr='#cfcfcf',GradientType=0);
		}
	}
	/* more links with orange icons on the right of them */
	p.more-link-orange-icon-right-wrapper {
		margin: 0;
		font-size: 1em;
	}
	a.more-link-orange-icon-right {
		margin-right: 30px;
		font-size: 1em;
	}
	a.more-link-orange-icon-right.first {
		margin-left: 85px;
	}
	a.more-link-orange-icon-right.last {
		margin-right: 0;
	}
}
/* Required html structure for above styling to work:
	<p class="more-link-orange-icon-right-wrapper">
	<a class="more-link-orange-icon-right first" href="/news-updates/news" title="More about: News">More news</a>
	<a class="more-link-orange-icon-right" href="/enforcement/alerts" title="More about: Food alerts">More food alerts</a>
	<a class="more-link-orange-icon-right" href="/news-updates/news" title="More about: Allergy alerts">More allergy alerts</a>
	<a class="more-link-orange-icon-right last" href="/news-updates/consultations" title="More about: Consultations">Consultations</a>
	</p>
*/

/* block styling */
.latest-news-and-alerts {
	overflow: hidden;
	.custom-block-title-wrapper {
		-moz-border-radius: 9px 9px 0 0;
		-webkit-border-radius: 9px 9px 0 0;
		-o-border-radius: 9px 9px 0 0;
		-ms-border-radius: 9px 9px 0 0;
		border-radius: 9px 9px 0 0;
	}
	h2.block__title {
		font-size: 1.5em;
		color: #fff;
		padding: .3em 10px;
		margin: 0;
		background: #3b9356;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…EiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,#3b9356 0,#02684a 100%);
		background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#3b9356),color-stop(100%,#02684a));
		background: -webkit-linear-gradient(top,#3b9356 0,#02684a 100%);
		background: -o-linear-gradient(top,#3b9356 0,#02684a 100%);
		background: -ms-linear-gradient(top,#3b9356 0,#02684a 100%);
		background: linear-gradient(top,#3b9356 0,#02684a 100%);
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3b9356',endColorstr='#02684a',GradientType=0);
	}
	.block__content {
		padding: 0.5em 0em 0em 0em;
		min-height: 242px;
		background-color: #fff;
		border: 1px solid #02684a;
		-moz-border-radius: 0 0 9px 9px;
		-webkit-border-radius: 0 0 9px 9px;
		-o-border-radius: 0 0 9px 9px;
		-ms-border-radius: 0 0 9px 9px;
		border-radius: 0 0 9px 9px;
		overflow: hidden;	// needed for content that is floated. Stops the div from collapsing
	}
}

/* mobile view */
@include breakpoint($mobile) {
	.latest-news-and-alerts {
		.views-row {
			width: auto;
			float: none;
			padding-bottom: 6px;
			border-bottom: 1px solid #c9c9c9;
			margin-bottom: 6px;
			margin-right: 0;
			.views-field-field-feature-image img {
				float: left;
				margin-right: 12px;
				margin-bottom: 0px;
			}
		}
		.view-footer {
			position: static;
			width: auto;
			border: 0;
			background: 0;
			padding-left: 10px;
			padding-right: 10px;
			padding-bottom: 5px;
			.custom-views-footer-inner {
				background: 0;
				background-color: #fff;
			}
		}
		a.more-link-orange-icon-right.first {
			margin-left: 0;
		}
		a.more-link-orange-icon-right {
			display: block;
			margin: 0 0 1em 0;
		}
		a.more-link-orange-icon-right {
			padding-right: 0;
			padding-left: 14px;
			background: url('../images/orange-arrow-thin-right.png') no-repeat left 3px;
			font-weight: normal;
			display: block;
			padding-left: 14px;
			color: #006f51;
		}
	}
}

/* print styling overrides */
@media print {
	.latest-news-and-alerts {
		h2.block__title {
			color: #000;
			background: none;
			background-color: transparent;
			padding: .3em 0px;
			border-top: 1px solid #000;
			border-bottom: 1px solid #000;
		}
		.custom-block-title-wrapper {
			-moz-border-radius: 0;
			-webkit-border-radius: 0;
			-o-border-radius: 0;
			-ms-border-radius: 0;
			border-radius: 0;
		}
		.block__content {
			border: none;
			padding: none;
			-moz-border-radius: 0;
			-webkit-border-radius: 0;
			-o-border-radius: 0;
			-ms-border-radius: 0;
			border-radius: 0;
		}
		.view-content {
			margin: 0;
		}
		.views-field-title a,
		.views-field-field-title-short a {
			color: #000;
		}
		.views-row {
			width: auto;
			float: none;
			padding-bottom: 0;
			border-bottom: none;
			margin-bottom: 12px;
			margin-right: 0;
			.views-field-field-feature-image img {
				display: none;
			}
		}
		.view-footer {
			display: none;
		}
	}
}
