/* Nation news
 * requires block class: nation-news
 */

/* block content styling */
.nation-news {
	font-size: 1em;	// 10px setting as base
	line-height: 1.4em;
	/* block title */
	h2.block__title {
		color: #4B7A0A;
		margin: 0 0 0.5em 0;
		font-size: 1.6em;
		font-weight: normal;
		padding: .46875em 11px .140625em 11px;
	}
	/* block content */
	.block__content {
		padding: .5em 11px .3em 11px;
		overflow: hidden;
	}
	/* featured image */
	.views-field-field-feature-image {
		.field-content img {
			float: left;
			margin: 0 12px 0 0;
		}
	}
	/* content */
	h3 {
		margin-left: 118px;
		font-size: 1.2em;
		line-height: 1.3em;
		margin: 0 100px 0.5em 118px;
		font-weight: normal;
	}
	p, span.more-link-wrapper {
		margin-left: 118px;
		font-size: 1.2em;
		line-height: 1.3em;
		margin-bottom: 15px;
	}
	/* more link */
	span.more-link-wrapper, p.more-link-wrapper {
		display: block;
		margin-left: 118px;
		a.fsa-more-link {
			font-weight: bold;
			padding-left: 11px;
		}
	}
	/* rows of content */
	.views-row {
		margin-bottom: 11px;
		clear: left;
		overflow: hidden;
	}
}

/* the block styling */
.nation-news {
	overflow: hidden;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	-o-border-radius: 8px;
	-ms-border-radius: 8px;
	border-radius: 8px;
	background: #f5f8f1;
	margin-bottom: 20px;
}

/* mobile layout */
@include breakpoint($mobile) {
	.nation-news {
		h3 {
			margin: 0 0px 0.5em 118px;
		}
	}
}

/* print styling overrides */
@media print {
	.nation-news {
		overflow: hidden;
		-webkit-border-radius: 0px;
		-moz-border-radius: 0px;
		-o-border-radius: 0px;
		-ms-border-radius: 0px;
		border-radius: 0px;
		background: transparent;
		h2.block__title {
			color: #000;
			border-top: 1px solid #000;
			border-bottom: 1px solid #000;
			margin: 0;
			font-size: 1.5em;
			padding: 0.3em 11px;
			font-weight: bold;
		}
		h3 {
			margin: 0;
		}
		span.more-link-wrapper, p.more-link-wrapper {
			display: none;
		}
		p {
			margin-left: 0;
			margin-bottom: 0;
		}
		.views-field-field-feature-image {
			display: none;
		}
		.views-row.views-row-last {
			margin-bottom: 0;
		}
	}
}

