.sharethis-wrapper {
  margin-bottom: 10px;
  overflow: hidden;
}

.sharethis-wrapper button {
  background-color: transparent;
  border: none;
  display: block;
  float: left;
  line-height: 1;
  margin: 3px;
  padding: 0;
}

.sharethis-wrapper button:active,
.sharethis-wrapper button:focus {
  border: 2px solid #d34d1a;
  border-radius: 6px;
  margin: 1px;
  outline: none;
}

/* Special border radius for the ShareThis button */
.sharethis-wrapper button.st_sharethis_large:active,
.sharethis-wrapper button.st_sharethis_large:focus {
  border-radius: 8px;
}

.sharethis-wrapper button .stButton,
.sharethis-wrapper button .stLarge {
  display: block !important;
  line-height: 1;
  margin: 0 !important;
}
