.fsa-report-problem-form {
  margin-bottom: 4em; }
  .fsa-report-problem-form p {
    font-size: 1.4em; }
    .fsa-report-problem-form p.error {
      color: red; }
    .fsa-report-problem-form p.service-status-message {
      background-color: #cc0000;
      padding: 5px 8px;
      color: #fff; }
  .fsa-report-problem-form .form-intro {
    font-size: 1.7em;
    line-height: 1.3;
    margin-bottom: 1em; }
    .fsa-report-problem-form .form-intro h3 {
      font-size: 1em;
      margin-bottom: 5px; }
    .fsa-report-problem-form .form-intro p {
      font-size: 1em;
      line-height: 1.3;
      margin-bottom: 1em; }
    .fsa-report-problem-form .form-intro ul {
      margin: 0 0 1em 0;
      padding: 0 0 0 1.3em; }
    .fsa-report-problem-form .form-intro li {
      font-size: 1em;
      line-height: 1.3;
      margin-bottom: 5px; }
  .fsa-report-problem-form .form-item, .fsa-report-problem-form #edit-location-field {
    margin-bottom: 2em; }
  .fsa-report-problem-form .form-item .description {
    font-size: 1.3em;
    margin-top: 8px; }
  .fsa-report-problem-form label {
    font-size: 1.5em;
    margin-bottom: 4px; }
  .fsa-report-problem-form textarea,
  .fsa-report-problem-form input[type="text"] {
    border: 1px solid #ccc;
    font-size: 1.5em;
    padding: 8px; }
    .fsa-report-problem-form textarea.error,
    .fsa-report-problem-form input[type="text"].error {
      border-color: red; }
  .fsa-report-problem-form .form-type-item {
    font-size: 1.5em; }
    .fsa-report-problem-form .form-type-item label {
      font-size: 1em; }
  .fsa-report-problem-form input[type="submit"] {
    background-color: #ededed;
    border: 1px solid #ccc;
    font-size: 1.5em;
    margin-right: 10px;
    padding: 8px 14px; }
  .fsa-report-problem-form .container-inline-date .date-padding {
    float: none;
    padding: 0; }
    .fsa-report-problem-form .container-inline-date .date-padding .form-item {
      display: inline-block;
      float: none; }
      .fsa-report-problem-form .container-inline-date .date-padding .form-item:first-child {
        margin-right: 1em; }
      .fsa-report-problem-form .container-inline-date .date-padding .form-item label {
        font-size: 1.3em;
        margin-top: 0.5em; }
      .fsa-report-problem-form .container-inline-date .date-padding .form-item .description {
        font-size: 1.1em;
        margin-top: 5px; }
  .fsa-report-problem-form .food-establishment-wrapper {
    border-bottom: 1px solid #dadada;
    margin-bottom: 2em;
    overflow: hidden;
    padding-bottom: 2em; }
    @media (min-width: 600px) {
      .fsa-report-problem-form .food-establishment-wrapper {
        padding-bottom: 0; } }
    @media (min-width: 600px) {
      .fsa-report-problem-form .food-establishment-wrapper .food-establishment {
        float: left;
        width: 50%; } }
    @media (min-width: 880px) {
      .fsa-report-problem-form .food-establishment-wrapper .food-establishment {
        width: auto; } }
    .fsa-report-problem-form .food-establishment-wrapper h3 {
      font-size: 1.5em;
      margin-bottom: 5px; }
    .fsa-report-problem-form .food-establishment-wrapper input[type="submit"] {
      font-size: 1.3em;
      padding: 6px 10px; }
      @media (min-width: 600px) {
        .fsa-report-problem-form .food-establishment-wrapper input[type="submit"] {
          float: left;
          margin-top: 10px; } }
      @media (min-width: 880px) {
        .fsa-report-problem-form .food-establishment-wrapper input[type="submit"] {
          float: right; } }

.messages {
  font-size: 1.2em;
  margin-bottom: 2em; }

.not-listed {
  border: 1px solid #2a8641;
  margin-top: 3em;
  padding: 10px 10px 0 10px; }
  .not-listed h3 {
    font-size: 1.5em;
    margin-bottom: 2px; }
  .not-listed p {
    margin-bottom: 10px; }

h2.service-offline {
  font-size: 1.8em;
  margin-bottom: 0.3em; }

p.service-offline {
  font-size: 1.8em; }

.phase-banner {
  padding: 10px 0 8px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid #bfc1c3;
  margin-bottom: 2em; }
  .phase-banner p {
    margin: 0;
    color: #000; }
  .phase-banner .phase-tag {
    display: inline-block;
    vertical-align: top;
    margin: 0 8px 0 0;
    padding: 2px 5px 0;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-decoration: none;
    color: #fff; }
    .phase-banner .phase-tag.alpha {
      background-color: #d53880; }
    .phase-banner .phase-tag.beta {
      background-color: #f47738; }
  .phase-banner span {
    display: inline-block;
    width: 75%;
    vertical-align: top;
    width: auto;
    vertical-align: baseline; }

.step-indicator {
  margin-bottom: 2em; }
  .step-indicator p {
    color: #6f777b;
    font-size: 1.4em;
    font-weight: bold;
    margin: 0; }
  .step-indicator h2 {
    font-size: 2em;
    margin: 0; }

/*# sourceMappingURL=report-problem.css.map */
