/**
 * Cross-browser fixes for ie8
 */

/* adjust the minimum height of main menu tabs to make it smaller */
.main-menu-desktop .sf-menu.sf-style-none li.sf-depth-1 > a {
	min-height: 0;
	height: 3.5em;
}

// Homepage carousel tweaks
.home-page-carousel {
  // For the carousel fix the image display issue. Setting max-width seems to
  // break images in the carousel.
  img {
    max-width: inherit;
  }
}
