/**
 * Cross-browser fixes for ie8
 */
/* adjust the minimum height of main menu tabs to make it smaller */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Volumes\/mysites\/fsa-local\/docroot\/sites\/all\/themes\/site_frontend\/sass\/ie\/ie8\.scss}line{font-family:\000036}}
.main-menu-desktop .sf-menu.sf-style-none li.sf-depth-1 > a {
  min-height: 0;
  height: 2em;
  max-height: 2.2em; }
